[2021-06-18 15:34] SkepticMystic opened #1 "Allow md formatting in parent field"
@Bri example: `**↑ BT:: [[Note]]**`

[2021-06-18 15:37] brimwats opened #2 "Feature Request: Support RT/NT"
A thesauri structure uses these elements:

[code]
(example from)

Currently breadcrumbs supports BT only

it might be useful to follow the code here: https://github.com/jlhardes/metadataBias

results in a similar matrix to: https://ihlia.nl/search/index.jsp?q%3Asearch=gay&q%3Azoekterm.row1.field3=&lang=en

[2021-06-18 15:39] brimwats opened #3 "Feature Request: Support Indexing"
As per #2 — it would be nice if breadcrumbs could support the bulding of an index somewhere.

An index might also generate fields for SN (scope notes) DF (definitions) and pages for OT/PT (parent terms, tops of hierarchies)

[2021-06-18 15:42] brimwats1 opened #4 "Long Term Feature request: use SKOS?"
The most comprehensive organization system for digital materiel is SKOS: https://www.w3.org/TR/skos-reference/

here are the subcategories to SKOS —its probably not necessary to use all of these. TopConcept, prefLabel definition, broader, narrower, related and then the broad/close/exact/related/etc Matches would satisfy 70% of uses

| skos:Concept            	|
|-------------------------	|
| skos:

[2021-06-20 07:43] weeyizhi opened #5 "separate panels for matrix view and breadcrumbs"
Perhaps the matrix view and breadcrumbs could be separated? Most of the time I find myself needing the breadcrumbs more. Having them at the same pane makes it such that I have to scroll down to see the breadcrumbs

[2021-06-20 07:44] weeyizhi opened #6 "automatically find siblings and children"
Instead of having the user create fields for child/sibling, is it possible for the plugin to search for siblings (all children of parents except itself) and children from the graph itself? That would require less maintenance from the user.
- if A is a child of B, then C is a sibling of B if it is also a child of A.
-if A is a child of B, then saying B is a parent of A is redundant. You only need o

[2021-06-20 07:44] SkepticMystic commented on #1
Once I move over to using the metadataCache of Obsidian and dataview, this shouldn't be an issue

[2021-06-20 07:44] #1 closed

[2021-06-20 07:46] SkepticMystic commented on #3
This links to the idea @weeyizhi had to "auto-generate" child and sibling fields based on their parents. I'll work on this after the refactoring mentioned in #1

[2021-06-20 07:47] weeyizhi opened #7 "multiple parent fields"
I would like to suggest the ability to indicate multiple parent fields. This would be useful if the user has multiple fields to indicate hierarchy. If multiple parent fields exist in a file, concatenate all the links in those fields as all of its parents.
![image](https://user-images.githubusercontent.com/7296340/122666215-a1a7b680-d1de-11eb-96c4-733f26659180.png)

[2021-06-20 07:48] SkepticMystic commented on #4
Would it be enough to allow arbitrarily many field names? So instead of only allowing one parent, sibling, and child field name, you could use as many as you want?
Something like: `Parent Field Names: parent, broader, collection`, for example?

[2021-06-20 07:48] weeyizhi opened #8 "unresolved link does not have "is_unresolved""
Links being populated by breadcrumbs plugin seems to be a tags with internal-link class. If the link is unresolved, the is_unresolved class is missing.

User is unable to differentiate links to files that exists versus unresolved ones when using the plugin.

PS: dataview seems to have the same issue too:
https://github.com/blacksmithgu/obsidian-dataview/issues/261

[2021-06-20 07:49] SkepticMystic commented on #6
Checkout #3, is this similar to what you are looking for?

[2021-06-20 07:51] SkepticMystic commented on #7
I can definitely do this. I think this links nicely to #4.
So, there would still only be 3 "types" of fields, `parent`, `sibling`, and `child`, but each of those types could have multiple field names which create them?

[2021-06-20 07:52] SkepticMystic commented on #8
Thanks for the catch! I think I should just be able to check if the link exists in metadataCache (or somewhere else), and add `is_unresolved` as necessary

[2021-06-20 07:54] SkepticMystic commented on #5
I can definitely do this. There would just be two separate views for each

[2021-06-20 07:55] SkepticMystic commented on #2
Let me know if `0.1.1` achieves this :) Also, when I fix #7, this should be even more enhanced

[2021-06-20 08:00] SkepticMystic opened #9 "Use Obsidian & Dataview metadataCache instead of parsing fileContent"
Use Obs cache for yaml fields.
Then `if(app.plugins.plugins.dataview)`, use dv cache for inline fields `app.plugins.plugins.dataview.api.page(<path>)`.
Group them all together, and generate the graphs from there

[2021-06-20 08:10] weeyizhi commented on #4
At the moment, this plugin provides a view of the hierarchy of notes created by the user. How it current does it is by having an undirected graph, with the root of the graph (usually called the index) as the top of the graph. Everything beneath the root is a descendant. And therefore the graph is in itself is just a parent-child relationship graph. With this graph, one can get to know siblings, pa

[2021-06-20 20:43] brimwats commented on #4
@weeyizhi a plugin that will be coming soon (that I can't comment on otherwise) will enable and easily allow the addition of SKOS items to notes. These will be readable from YAML and can be matched to dataview fields. Juggl is fantastic but is meant for the individual annotation of notes without the use of controlled vocabularies.

[2021-06-20 20:44] brimwats commented on #7
I think this would nicely support the use of nonhierachal vocabularies that support multiple parents!

[2021-06-20 20:45] brimwats commented on #6
It might be possible to use code from the "find related notes" plugin

[2021-06-20 20:46] brimwats commented on #2
This seems to be resolved!

[2021-06-20 20:46] #2 closed

[2021-06-20 21:15] SkepticMystic commented on #8
This seems to be resolved. I ended up having to use a hackyish method of adding a custom class to unresolved links, and just reducing their opacity.

[2021-06-20 21:15] #8 closed

[2021-06-20 21:20] SkepticMystic commented on #9
I've made some good progress with this! If the user has dataview installed, everything works just as it used to, but faster! I have not done the same if they don't have dataview, though

[2021-06-20 21:37] SkepticMystic commented on #6
I _think_ I've implement implied children and implied parents... give it a try and let me know if it works on your vaults.
@brimwats, it is entirely possible that the refactoring I've done (#9)  means this plugin won't work if you don't have dataview installed... I plan to get it working again for those without dataview, but you may need to install it until then.

[2021-06-21 02:21] weeyizhi opened #10 "0.2.1 not populating breadcrumb view"
Obsidian version: 0.12.4
Breadcrumbs plugin: 0.2.1
Dataview: 0.3.13

My breadcrumb view is empty now. Tried clean reinstall of the plugin and also disabling and re-enabling the plugin.
![image](https://user-images.githubusercontent.com/7296340/122698386-d157cc80-d279-11eb-8fb2-b79a577ae3f9.png)

Ther are some error logs (also, I noticed that the plugin says "loading plugin" instead of "loading Bre

[2021-06-21 07:21] SkepticMystic commented on #10
Yes, it seems this happens onLoad. But if you click around a bit, change to different notes, then the breadcrumb trail and matrix get a chance to redraw and it should start working. This is a bug, which I'll try to fix, but a hacky fix is just to change notes

[2021-06-21 10:31] SkepticMystic commented on #6
And now I think I've figured out implied siblings, too! Very curious to see if it works as expected

[2021-06-21 10:33] SkepticMystic commented on #3
Can you please elaborate more on what you mean here, Bri. I don't think I understand what the index would be or do.

[2021-06-21 10:36] SkepticMystic commented on #4
The current setup does indeed use directed graphs. Based on the explicit parent, sibling, and child fields in one's notes, 3 different graphs are constructed; one for each type of field.
These graphs give enough info to show the regular, explicit matrix, but now you can also see _implied_ parents, siblings, and children as of `0.2.1`

[2021-06-21 11:09] SkepticMystic opened #11 "0.2.2 Everything is its own implied sibling"
This makes sense due to the implementation, and should be easy to fix.

[2021-06-21 11:55] weeyizhi opened #12 "FR: list view as an alternative to matrix view"
The matrix view is great, but for cases where I'm using small screens, my sidebars tend to be smaller, and I would prefer using a list view in that case. I would like to suggest a setting to toggle between list and matrix view.

The list view would be just like the backlink plugin's list:
![image](https://user-images.githubusercontent.com/7296340/122757629-697da200-d2ca-11eb-8b01-bdb41764b196.png)

[2021-06-21 11:58] weeyizhi commented on #10
The `foreach` issue is fixed on 0.2.3. I'm now able to get the view to populate with breadcrumb and matrix.
I'll leave it up to you if you want to close this or keep it open to keep track of the "cannot read property 'page' of undefined" problem with dataview.

[2021-06-21 12:06] weeyizhi commented on #6
I believe it's working correctly! I did a few tests but nothing rigorous though (I only use parent fields).

[2021-06-21 12:09] SkepticMystic commented on #12
Very good idea! I can definitely try get that working :)

[2021-06-21 12:10] SkepticMystic commented on #6
@brimwats will you let me know if this works properly on your larger sample size?

[2021-06-21 12:12] SkepticMystic commented on #10
Awesome, thanks for the feedback. I will close this one and add the dataview index loading issue to #9

[2021-06-21 12:12] #10 closed

[2021-06-21 12:13] SkepticMystic commented on #9
Issue from #10: Dataview indices aren't loaded by the time the BreadcrumbsView tries to populate

[2021-06-21 14:56] brimwats commented on #3
Everytime the graph detects a new parent term it writes it to a file. A concanetned list of PTs. It would be cool if it could autogenerate a list but idk how hard that is. i.e.

PT Arthitecture
    NT American Architecture
        NT American Log Cabins
    NT (etc)
        NT (etc)

[2021-06-21 17:50] SkepticMystic commented on #3
Interesting... So to have the entire hierarchy structure written to a single file?
The first thing that comes to mind is dealing with items the link up to multiple other parents, for example. But the common child could just be repeated in both places

[2021-06-23 15:35] SkepticMystic commented on #12
This should be working as of 0.2.0, and some bug fixes are coming in 0.2.1

[2021-06-23 15:35] #12 closed

[2021-06-23 15:35] SkepticMystic commented on #11
Fixed

[2021-06-23 15:35] #11 closed

[2021-06-23 16:51] SkepticMystic opened #13 "Leave view open in sidebar on restart"
Check this for solution:

https://github.com/HEmile/juggl/commit/b127d1b6ae8da7c2e2d48f0d727772b29fee6021

[2021-06-23 19:14] SkepticMystic commented on #13
Fixed. I was still opening the old `VIEW_TYPE_BREADCRUMBS_LIST`

[2021-06-23 19:14] #13 closed

[2021-06-24 11:05] kometenstaub opened #14 "[Feature] Hover preview for links"
It would be cool if the links supported hover preview.

Explanation from @lishid:
https://discord.com/channels/686053708261228577/840286264964022302/850078594768044093

Implementation from Murf:
https://discord.com/channels/686053708261228577/840286264964022302/849801819169488896

More implementation examples:
https://github.com/search?q=workspace.trigger%28%27hover-link%27%2C+%7B&type=code

[2021-06-24 17:03] SkepticMystic commented on #14
This is definitely something I'll work on 🙂 Thanks for the input and the references

[2021-06-24 17:05] SkepticMystic commented on #5
I have separated the two views. The breadcrumbs trail now appears at the top of the note. This is still buggy, but I'll close this issue and others can be opened for the new bugs

[2021-06-24 17:05] #5 closed

[2021-06-24 17:06] SkepticMystic commented on #6
I think this works as intended. Gonna close this issue

[2021-06-24 17:06] #6 closed

[2021-06-24 17:08] SkepticMystic opened #15 "The view tries to `draw` before the dataview indices are loaded"
Specifically, `getFileFrontmatter` tries to access `app.plugins.plugins.dataview.api` before it is done indexing

[2021-06-24 17:09] SkepticMystic commented on #15
Issue from #10: Dataview indices aren't loaded by the time the BreadcrumbsView tries to populate

[2021-06-24 17:30] brimwats commented on #6
you are developing like lightining! I will report any bugs back here :)

[2021-06-24 20:05] SkepticMystic commented on #15
Current solution is just to setTimeout the first call of `draw` by about 4 seconds. This is hacky, but works to fix the bug. I'll close this once the dataview `api-ready` event is exposed

[2021-06-25 08:18] SkepticMystic opened #16 "Various settings"
- [x] Change breadcrumb trail separator (default is `→`)
- [ ] Show Breadcrumb trail in edit/preview/both/neither (See #19 )
- [x] Respect Readable line length (#24)
- [x] #29

[2021-06-25 08:21] SkepticMystic opened #17 "If `indexNote` doesn't exist in vault, everything fails"
- [ ] Add error handling: show popup if `indexNote` DNE, and just skip the call of `getBreadcrumbs` so that everything else still works

[2021-06-25 08:22] SkepticMystic commented on #17
Specifically it fails here:
![image](https://user-images.githubusercontent.com/70717676/123394172-227bff00-d59f-11eb-8cc8-43cce03b8a6f.png)
`Cannot read property 'distance' of undefined`. The paths generate correctly, but then no node called `indexNote` exists, so `paths[step]` is undefined

[2021-06-25 08:24] SkepticMystic opened #18 "All the css classes!"
This is easy to implement. Add css classes to:

- [x] `trailDiv`
- [x] Each span inside `trailDiv`
- [x] Do I already have classes on the matrix and list entries?

[2021-06-25 08:25] SkepticMystic opened #19 "Show breadcrumb trail in edit view too"
Not immediately sure how to do this or if it's possible.
- [ ] Check what the selector becomes when in edit mode.
  - Currently it is `div.markdown-preview-view`

[2021-06-25 08:30] SkepticMystic opened #20 "Context dependent index note"
Based on the "type" of the note, it could have a different index (and therefore a different path entirely).

Maybe have a setting where the user specifies which note types lead to which indices:
[code]

- [ ] Can an object key be a string?

[2021-06-25 09:26] SkepticMystic opened #21 "Support Juggl link syntax"
@HEmile suggested allowing juggl syntax [link types](https://juggl.io/Link+Types) to be detected by breadcrumbs. Currently, the breadcrumbs method of grabbing links from the note does not align with the juggl syntax of `- linkType [[Note]]` (neither metadataCache detects these).

But the proposed syntax of `[[Note name|alias|linkType]]` would be visible in `metadataCache.resolvedLinks`, so this wo

[2021-06-25 09:33] SkepticMystic opened #22 "Matrix/List view has to be open for breadcrumbs trail to show"
Makes sense, I just need to separate the two views into their own areas.

There is alot of overlap between the two view's functionality. Try find a way to reduce duplicate code. Maybe having a parent class which MatrixView and TrailView each extend

[2021-06-25 09:49] tami5 commented on #20
Yes that seems to be the best option. If the index is category/index.md. But in may case the indexes are organized in one directory.

Hmmm, maybe the user should define a root, default to `/`.

Then a setting to post process
{

On another note, it might great if we can support the value being a number. So when it's a number the path to the directory will be `${root}`

[2021-06-25 18:40] SkepticMystic commented on #22
Fixed in 0.3.8

[2021-06-25 18:40] #22 closed

[2021-06-25 18:41] SkepticMystic commented on #18
@weeyizhi Added a bunch of css classes to various elements. Gonna close this issue, but please comment if I've forgotten somethign

[2021-06-25 18:41] #18 closed

[2021-06-25 19:20] SkepticMystic commented on #9
Fixed in 0.4.0

[2021-06-25 19:20] #9 closed

[2021-06-26 11:07] SkepticMystic commented on #7
Should be working in 0.4.1. I'll leave it open for bugs

[2021-06-26 11:43] SkepticMystic opened #24 "Trail Div doesn't respect readable line length"
![image](https://user-images.githubusercontent.com/70717676/123511910-9a702500-d684-11eb-83e4-b20d385971a0.png)

I tried doing this already, but neither way worked... I'll give it a go again

[2021-06-26 11:59] SkepticMystic commented on #17
Added a warning if `indexNote` doesn't exist when entering it into settings. This doesn't prevent the bug, but there is a warning for now

[2021-06-26 11:59] #17 closed

[2021-06-26 17:12] SkepticMystic commented on #24
This is working now. There is a setting to toggle this on or off (One has to reload the app for it to take effect)

[2021-06-26 17:12] #24 closed

[2021-06-26 17:13] #7 closed

[2021-06-26 18:47] tami5 opened #25 "@ in file name breaks breadcrumbs"
A file name starting with @ breaks links. resulting in the creation of new pages, rather than navigating to the page it self.

for example:

[code]

Creates a new page.

[2021-06-26 18:55] tami5 opened #26 "field varients for relation types shouldn't be shown"
In list and matrix view, it would be nice to not see the variants I have and instead see the type of the relationship e.g. `Parents`.

[2021-06-26 19:07] tami5 opened #27 "Duplicated links when a link is both implied and real"
If a page has both implied and real relationship to a file, the link get repeated.

[2021-06-26 19:09] tami5 opened #28 "visual bug with hidding realtion types"
Why toggling off relationship type,
![Screen Shot 2021-06-26 at 10 08 19 PM](https://user-images.githubusercontent.com/65782666/123523226-05444f00-d6cb-11eb-99a9-2677d950c40b.png)

![Screen Shot 2021-06-26 at 10 08 26 PM](https://user-images.githubusercontent.com/65782666/123523229-09706c80-d6cb-11eb-81c2-3fcd2aae8657.png)

It would be nice if we have the ordering right and not have space between

[2021-06-26 19:56] SkepticMystic commented on #28
Thanks for posting all the issues 🙂
With this, I'm stuck between calling it a feature request or a bug... I'm tending towards bug though. Maybe there can be a different way of distinguishing between real and implied links. Maybe the colour of the number? Maybe an emoji infront of implied links?

[2021-06-26 19:57] SkepticMystic commented on #25
I think I'll just preprocess the text by removing any backslashes, that should work

[2021-06-26 19:57] SkepticMystic commented on #26
This could be a setting. I'll add it to the list

[2021-06-27 05:44] tami5 commented on #28
Yes different color, lighter color or emoji font might be a great solution.

[2021-06-27 05:44] tami5 commented on #26
Thanks ❤️

[2021-06-27 05:47] tami5 commented on #25
Also, in that vein, it might be useful to be able to write the name of the file without brackets and it would recognized it as links. The only reason to keep using wikilinks in yaml that it would update when the filename changes, but I'm not sure that would work in yaml

[2021-06-27 08:11] ashishbhateja commented on #3
It will be good to have an option for the hierarchy appended to the note. That way the links appear together with the text.

[2021-06-27 08:15] SkepticMystic opened #29 "Setting: Customizable refresh interval for `draw()`"
The breadcrumbs matrix doesn't auto refresh unless switching notes.
I can add an option for a customisable resfresh interval.

I just need to be careful about deregistering it.
[code]

[2021-06-27 08:22] SkepticMystic opened #30 "MatrixView icon"
I still use the default `note` icon.
- [x] Check on that website and ask Silver for one

[2021-06-27 08:27] SkepticMystic commented on #26
Should be fixed in the new release 😄 let me know if it works for ya

[2021-06-27 08:27] #26 closed

[2021-06-27 08:30] SkepticMystic commented on #28
I've fixed the numbering issue. The implied links numbering should follow on from the real links.
There will still be a space between the two lists (because they're seperate ordered lists). You could change this by adjusting the spacing of the ordered list nested under the `div.breadcrumbs-matrix-square` element. `div.breadcrumbs-matrix-square ol { padding: 0px; margin: 0px; }`
On that note, I've

[2021-06-27 08:30] #28 closed

[2021-06-27 08:43] SkepticMystic commented on #27
Good catch, I'll fix this

[2021-06-27 08:46] SkepticMystic commented on #20
Just getting my thoughts down.
The function which finds a path up to `indexNote` already has the capability to find a path to _anywhere_. When drawing the trail, I should choose the most appropriate index based on the current note.
Technically, the user could provide a list of all indexes, and I could calculate _all_ the paths up to each once, then jsut pick the shortest.

[2021-06-27 10:16] SkepticMystic commented on #29
Should be working in 0.4.9

[2021-06-27 10:16] #29 closed

[2021-06-27 11:45] SkepticMystic commented on #25
So you could write: `parent:: Index, Upper` and it would be treated the same as `parent:: [[Index]], [[Upper]]`

[2021-06-28 01:51] weeyizhi opened #31 "remember list/matrix view"
Plugin version: 0.4.12

If I use list view, every time I restart Obsidian, it resets back to matrix view. It would be great if the state of list/matrix view could be saved in the workspace.

Thanks a lot! This plugin has become one of my favorites :)

[2021-06-28 06:51] SkepticMystic commented on #31
Haha this also started annoying me! So I added a setting: Default View Type (Or something). You can set what the view defaults to on load :)

[2021-06-28 06:51] #31 closed

[2021-06-28 06:52] SkepticMystic commented on #30
Working in 0.4.12

[2021-06-28 06:52] #30 closed

[2021-06-28 07:23] SkepticMystic commented on #3
Thanks for the feedback @ashishbhateja.
I'm curious about how I should implement this. Currently there are two options:
1. Make one, giant index of the entire vault
2. Make an index for each page. Are you speaking about this option?

For 2., say the matrix view looked like this for the note `Goals`:

![image](https://user-images.githubusercontent.com/70717676/123596127-09b75780-d7f2-11eb-9bf1-0fa3

[2021-06-28 08:25] ashishbhateja commented on #3
This is how Roam Research implements:
<img width="405" alt="Screen Shot 2021-06-28 at 4 22 09 PM" src="https://user-images.githubusercontent.com/69289857/123604361-5a987180-d82d-11eb-8671-6ebc3b354cac.png">

[2021-06-28 20:02] kometenstaub commented on #14
implemented as of 0.5.0

[2021-06-28 20:02] #14 closed

[2021-06-30 08:18] SkepticMystic commented on #27
@tami5 Should be fixed in 0.5.4. My implementation is a little hacky though, so let me know if it works as expected :)

[2021-06-30 08:18] #27 closed

[2021-06-30 08:26] tami5 commented on #27
Thanks a lot @SkepticMystic , I'll check it out letter this evening

[2021-06-30 09:18] SkepticMystic commented on #20
@tami5 When you're able, will you also let me know if this works :)
You can now give a comma-separated list of different index notes, and the breadcrumbs trail will simply show the shortest of all the paths

[2021-06-30 09:18] #20 closed

[2021-06-30 20:05] tami5 commented on #20
Okay that's interesting take on the issue, again it definitely support hierarchical structure.

But in my case, I have all my index in a separate directory, and in my notes I have a field which hint to that file name in that directory :D, I'm even considering adding other field then type to donate a note being a part of index in another directory.

In all cases, your implementation is definitely f

[2021-07-01 08:10] SkepticMystic opened #32 "Clicking link in Matrix/List view reloads app on mobile"

[2021-07-02 08:49] stefanopagliari opened #33 "Duplication of ties in matrix/list view"
If Note A lists Note B as "child" and  Note B lists Note A as "parent", the lists/matrix view will show this relationship twice. Something like:
- Parent
  - A
  - A
- Child
  - B
  - B

Would it be possible to show only unique values? Something like this:
- Parent
  - A
- Child
  - B

Thank you

[2021-07-02 09:48] SkepticMystic commented on #33
Hey Stefano. Does it still do this? I implimented a fix in a recent release. Which version are you on?

[2021-07-02 11:06] kometenstaub opened #34 "[Feature] Activate leaf if note is already open"
If I click on a link in the l/m view, if the note is already open but not in the active leaf, I would like the note not to open in the current leaf, but activate the leaf where it is already open.

(This would be very useful when combined with sliding panes.)

[2021-07-02 12:35] SkepticMystic commented on #34
Ahh I like this idea! I can try get that working. I'll check if the note is already open, then switch to it if it is. Otherwise, open the note as normal

[2021-07-03 10:51] kometenstaub opened #35 "[Feature] Show path to last parent in trail if no path to index note"
If there's no path to the index note, it would still be valuable to have the path shown to the last parent note.

[2021-07-03 10:54] kometenstaub opened #36 "[Feature] Show multiple paths to index note"
If there are multiple paths to the index note (or the last parent note #35), there should be an option to show them all or the shortest path.

[2021-07-03 11:55] SkepticMystic commented on #35
I like this idea. What if there are multiple parent notes? There are a few choices here, (which could be a setting):
- At first, I can choose the first parent of each note and just follow that up until there is no parent (this isn't ideal though)
- Show all possible paths going up the parent tree, like in issue #36
- Choose the shortest/longest path going up the parent tree

I'm gonna implement th

[2021-07-03 12:02] SkepticMystic commented on #33
@stefanopagliari please let me know if this still occurs on the latest release. You will need to manually reinstall the latest one

[2021-07-03 12:03] SkepticMystic commented on #34
This is partly working. If a note is already open, then clicking the link for it in the m/l view, will switch to it instead of opening it again.
This doesn't work for the trail though...

[2021-07-03 12:21] kometenstaub opened #37 "[enhancement] keep trail when going to another note"
It would be less jumpy if the trail could be kept when notes are switched.

[2021-07-03 13:53] SkepticMystic commented on #35
Should be working in 0.6.0!
Now, if you leave the index note setting blank, the trail will take the first parent of each note, starting from the current note, walking up the parent-tree

[2021-07-03 14:22] #35 closed

[2021-07-03 14:22] #34 closed

[2021-07-03 14:26] SkepticMystic opened #38 "[WAITING] Have to trigger `draw` manually for ls/m and trail to show initially on mobile"
Probably because the dv indices take longer to load on mobile

[2021-07-03 14:28] SkepticMystic opened #39 "Numbering resets to 0 for list view only"

[2021-07-04 11:16] brimwats opened #40 "Uncaught Error"
Hello!!

Tried to add the plugin to my laptop and it loads ad then seems to run through all of the notes but then comes up with

[code]

Neither the list nor the matrix work

![image](https://user-images.githubusercontent.com/49103046/124382895-92187b00-dc7e-11eb-9d28-389a99783183.png)

![image](https://user-images.githubusercontent.com/49103046/124382897-9349a800-dc7e-11eb-9ad9-2d65e958cda8.png)

[2021-07-04 12:28] SkepticMystic opened #41 "A real sibling also implies a sibling"
For `A`: `sibling:: [[B]]`, `B` should have `A` as an implied sibling

[2021-07-04 14:23] SkepticMystic commented on #40
Hey @brimwats :) Thanks for the bug report and screenshots.
What is your setting for index note? I recently changed some of the functionality, and that might have broken. (You no longer need an index note for the trail to work)

[2021-07-04 15:38] brimwats commented on #40
The index note section is empty currently!

[2021-07-04 15:38] brimwats commented on #40
![image](https://user-images.githubusercontent.com/49103046/124391005-314f6980-dca3-11eb-935e-a7d82f26fe99.png)

[2021-07-04 16:44] SkepticMystic commented on #40
@brimwats Ahh ok, I don't think you are on the latest version. The index note setting description should say something like: "You don't need an index note anymore"

[2021-07-04 18:07] brimwats commented on #40
I'll try un/reinstalling!

[2021-07-04 19:14] brimwats commented on #40
Confirmed that I am on .61 — unless I am missing something there should be a matrix or a list

![image](https://user-images.githubusercontent.com/49103046/124396924-65d21e00-dcc1-11eb-84dd-3d4a9c5cb9cb.png)
![image](https://user-images.githubusercontent.com/49103046/124396927-67034b00-dcc1-11eb-948b-0de2f77b4fef.png)
![image](https://user-images.githubusercontent.com/49103046/124396928-68347800-dc

[2021-07-04 19:16] brimwats commented on #40
New error

[code]

[2021-07-04 19:25] SkepticMystic commented on #40
This new error `Cannot destructure property...` usually happens. It should only happen once, and then things should work after changing notes for the first time. Does it work after this initial hiccup?
If not, can you turn on `super debug mode` in the settings, and let me know what the last console log is before something goes wrong (there will be alot of logs for your large vault)

[2021-07-04 19:26] SkepticMystic commented on #40
Wait, also the fields in your settings are missing the arrows, aren't they?

[2021-07-04 19:28] brimwats commented on #40
they weren't needed before, let me try including them now!

[2021-07-04 19:29] brimwats commented on #40
Still no luck:
![image](https://user-images.githubusercontent.com/49103046/124397211-7edbce80-dcc3-11eb-9eae-5249cb8d822b.png)

![image](https://user-images.githubusercontent.com/49103046/124397208-7d120b00-dcc3-11eb-88f0-c6c23f0ccb67.png)

[2021-07-04 19:31] brimwats commented on #40
I do not see an error

![image](https://user-images.githubusercontent.com/49103046/124397261-c8c4b480-dcc3-11eb-925c-bae73ec984f1.png)

![image](https://user-images.githubusercontent.com/49103046/124397263-ca8e7800-dcc3-11eb-911b-4bcac4dc709a.png)

![image](https://user-images.githubusercontent.com/49103046/124397264-cc583b80-dcc3-11eb-9a12-e76fbd4c8e7c.png)

[2021-07-04 19:37] SkepticMystic commented on #40
Very strange... no errors at all?
Can you turn on regular `debug mode` and have a look thru the objects it logs. Does anything look out of place?

[2021-07-04 19:40] brimwats commented on #40
oh wait i'm now seeing 3.1MB error messages:
![image](https://user-images.githubusercontent.com/49103046/124397499-f9591e00-dcc4-11eb-8466-8d468859322d.png)

![image](https://user-images.githubusercontent.com/49103046/124397503-fa8a4b00-dcc4-11eb-83f0-91089c894b95.png)

![image](https://user-images.githubusercontent.com/49103046/124397506-fbbb7800-dcc4-11eb-8b62-db7454280ca7.png)

[2021-07-04 19:43] SkepticMystic commented on #40
Ummmm I have never seen that before... I don't _think_ that's from breadcrumbs...

[2021-07-04 19:43] brimwats commented on #40
Here's what just debug mode shows
![image](https://user-images.githubusercontent.com/49103046/124397575-75536600-dcc5-11eb-8fa8-8b69b1a48366.png)

![image](https://user-images.githubusercontent.com/49103046/124397576-771d2980-dcc5-11eb-834c-d930e5d9216b.png)

[2021-07-04 19:45] SkepticMystic commented on #40
Have a peak inside `neighbourObjArr`. Do the parents, siblings, and children seem right?

[2021-07-04 19:45] brimwats commented on #40
Here's what happens when changing note

![image](https://user-images.githubusercontent.com/49103046/124397600-a764c800-dcc5-11eb-9da2-b4afef8db85a.png)

[2021-07-04 19:46] brimwats commented on #40
idk there's thousands—mostly without BTs, etc. Should I just click?

![image](https://user-images.githubusercontent.com/49103046/124397619-ce22fe80-dcc5-11eb-84ca-448bda173f8d.png)

[2021-07-04 19:47] SkepticMystic commented on #40
Everything seems to be working fine.
1. Inside `fileFrontmatterArr`, do the `frontmatter` values look right?
2. Inside `sortedTrails`, do the trails seem right? (they should go up the parent tree)

[2021-07-04 19:47] SkepticMystic commented on #40
Have a look for a non-empty `neighbourObj` and see if it looks right

[2021-07-04 19:50] brimwats commented on #40
i have no idea what i'm looking for
![image](https://user-images.githubusercontent.com/49103046/124397714-6a4d0580-dcc6-11eb-9c2f-d9d532607ce6.png)

![image](https://user-images.githubusercontent.com/49103046/124397716-6c16c900-dcc6-11eb-8ba0-1e845c13becf.png)

[2021-07-04 19:53] SkepticMystic commented on #40
Ahh ok! So inside `fileFrontmatterArr`, pick a number, then for that number, check it's ` frontmatter` property. Then, inside that, it should have properties for `BT`, `NT`, etc

[2021-07-04 19:53] brimwats commented on #40
I think this looks right, but could just be items in the same folder
![image](https://user-images.githubusercontent.com/49103046/124397783-cf086000-dcc6-11eb-844c-51811f9cc876.png)

[2021-07-04 19:54] brimwats commented on #40
the problem is that 90% of these do not have BT NT or RTs
![image](https://user-images.githubusercontent.com/49103046/124397799-e8a9a780-dcc6-11eb-88a5-5aad75460637.png)

[2021-07-04 19:56] brimwats commented on #40
Okay I found one that does

![image](https://user-images.githubusercontent.com/49103046/124397851-3aeac880-dcc7-11eb-9caf-a3aa5a5c914f.png)

where am i looking for the relations?

[2021-07-04 19:57] brimwats commented on #40
oh okay, so no then they are not showing up:

![image](https://user-images.githubusercontent.com/49103046/124397863-5bb31e00-dcc7-11eb-9e42-2540f8a969ad.png)

![image](https://user-images.githubusercontent.com/49103046/124397865-5d7ce180-dcc7-11eb-9403-b61697326cb2.png)

[2021-07-04 20:00] brimwats commented on #40
I did that :(

![image](https://user-images.githubusercontent.com/49103046/124397918-d4b27580-dcc7-11eb-8e56-f853df1852e0.png)

![image](https://user-images.githubusercontent.com/49103046/124397922-d7ad6600-dcc7-11eb-9f5f-91edeae192bd.png)

![image](https://user-images.githubusercontent.com/49103046/124397924-d9772980-dcc7-11eb-9c51-be8ae6d08cc2.png)

[2021-07-04 20:02] brimwats commented on #40
whoops, right images:

![image](https://user-images.githubusercontent.com/49103046/124397949-00356000-dcc8-11eb-9e72-328dba1c2718.png)

![image](https://user-images.githubusercontent.com/49103046/124397953-01ff2380-dcc8-11eb-8df3-8373bc1981eb.png)

![image](https://user-images.githubusercontent.com/49103046/124397954-03305080-dcc8-11eb-9420-a9756806bcd2.png)

![image](https://user-images.githubuse

[2021-07-04 20:03] SkepticMystic commented on #40
Oooohhhh! Because if the field is in the content of the note, it has to have a double colon `::`

[2021-07-04 20:03] SkepticMystic commented on #40
That's why the fields aren't being detected, because dataview only sees double colon inline fields

[2021-07-04 20:05] brimwats commented on #40
Ahh, thought dataview wasn't required anymore so I removed the double colon as Autohotkey can only add one, let me try that

[2021-07-04 20:07] SkepticMystic commented on #40
Dataview isn't required anymore, but then breadcrumbs can only detect regular yaml fields.
[code]
For it to see inline ones, you have to have dataview. Bit of a limitation, but things would be super slow if it had to read the content of every file every time the note changed

[2021-07-04 20:09] brimwats commented on #40
It is still broken

![image](https://user-images.githubusercontent.com/49103046/124398155-1abc0900-dcc9-11eb-813a-762a0ced9d26.png)

![image](https://user-images.githubusercontent.com/49103046/124398157-1bed3600-dcc9-11eb-8164-b3ac29aee433.png)

[2021-07-04 20:11] brimwats commented on #40
without arrows
![image](https://user-images.githubusercontent.com/49103046/124398192-48a14d80-dcc9-11eb-98d7-f72c7dac51b4.png)

![image](https://user-images.githubusercontent.com/49103046/124398195-4a6b1100-dcc9-11eb-89aa-41e97795847d.png)

[2021-07-04 20:12] SkepticMystic commented on #40
With dataview enabled?

[2021-07-04 20:12] brimwats commented on #40
never disabled it

![image](https://user-images.githubusercontent.com/49103046/124398245-87370800-dcc9-11eb-8a4a-fec8e955593c.png)

[2021-07-04 20:13] SkepticMystic commented on #40
It might be that your bold formatting extends past the double colons.
`**field:: [[Note]]**`
Can you try it with the bold ending before the colon `**field**:: [[Note]]`

[2021-07-04 20:14] brimwats commented on #40
I am not sure how I would structure a regex to replace all of them hmmmmm

[2021-07-04 20:14] SkepticMystic commented on #40
even just for one field, to see if that works

[2021-07-04 20:15] brimwats commented on #40
because the leftover **⤴ BT: [[<%tp.file.cursor()%>`]]**` will remain

[2021-07-04 20:15] SkepticMystic commented on #40
Just do it manually for one field to see if that's where the issue is

[2021-07-04 20:15] SkepticMystic commented on #40
And can you show me the `fileFrontmatterArr` for 2929

[2021-07-04 20:17] #21 closed

[2021-07-04 20:17] brimwats commented on #40
sure here it is for arrows in the options and no arrows in options

![image](https://user-images.githubusercontent.com/49103046/124398364-37a50c00-dcca-11eb-9393-3d63d03d8c22.png)

![image](https://user-images.githubusercontent.com/49103046/124398368-38d63900-dcca-11eb-8028-7cc659c03277.png)

[2021-07-04 20:17] #32 closed

[2021-07-04 20:18] brimwats commented on #40
![image](https://user-images.githubusercontent.com/49103046/124398385-4986af00-dcca-11eb-868f-6d9af846ae6b.png)

[2021-07-04 20:18] brimwats commented on #40
if I am doing it for one note don't I need to go and unbold another note connected to it to be sure it works?

[2021-07-04 20:18] SkepticMystic commented on #39
Fixed in next release. It was a styling issue where the 10's digit was pushed off screen

[2021-07-04 20:18] #39 closed

[2021-07-04 20:19] brimwats commented on #40
(I did that and it didn't change anything) :(

[2021-07-04 20:20] SkepticMystic commented on #40
Ok, the good news is that dataview sees the fields in your note. It has `BT`, `NT`, etc inside the `fileFrontmatter` obj for the note

[2021-07-04 20:26] SkepticMystic commented on #40
I have pushed a new version `0.6.2`. Can you update to that, redo your settings, turn on super debug, and see if the console log saying "<field> of: <Note> is: <value>" is accurate

[2021-07-04 20:30] SkepticMystic commented on #40
Do you use Juggl, per chance?

[2021-07-04 20:32] brimwats commented on #40
I used to have juggl but it's not installed right now!

[2021-07-04 20:34] brimwats commented on #40
Where will this appear?

[2021-07-04 20:35] SkepticMystic commented on #40
With super debug on, you should see loooots of console logs when changing notes

[2021-07-04 20:36] SkepticMystic commented on #40
Weird, someone was having the same issue and disabling Juggl solved it

[2021-07-04 20:36] brimwats commented on #40
yeah but the field of note thing

![image](https://user-images.githubusercontent.com/49103046/124398853-ca46aa80-dccc-11eb-912e-73b116361679.png)

[2021-07-04 20:38] SkepticMystic commented on #40
Do _any_ of the console logs have a value after `is: `?

[2021-07-04 20:38] brimwats commented on #40
juggl used to be known as something different? Trying to remember and see if I deleted that yet or not

[2021-07-04 20:39] brimwats commented on #40
They're still loading...I deleted the **'s again and switched notes but I don't see anything yet

[2021-07-04 20:39] SkepticMystic commented on #40
It used to be Neo4j :)

[2021-07-04 20:40] SkepticMystic commented on #40
Ooooh you should be able to filter the console logs! In the search bar of the console, search `Semi-Structured Data`

[2021-07-04 20:41] brimwats commented on #40
Okay they're both gone!

Already ahead of you I don't see anything yet

![image](https://user-images.githubusercontent.com/49103046/124398979-74becd80-dccd-11eb-8fed-7c10ce3570f0.png)

[2021-07-04 20:41] brimwats commented on #40
Same for Semi

![image](https://user-images.githubusercontent.com/49103046/124398996-9455f600-dccd-11eb-9ea9-a5d919af46d9.png)

[2021-07-04 20:42] brimwats commented on #40
I deleted the arrows already but waiting for the reload

[2021-07-04 20:43] brimwats commented on #40
I think something is working?

![image](https://user-images.githubusercontent.com/49103046/124399027-c1a2a400-dccd-11eb-9c74-9bea2b7197ce.png)

[2021-07-04 20:45] SkepticMystic commented on #40
Oooooh ok, that's a hint... Whatever the note _after_ `the great wave` is, that seems to have a problem

[2021-07-04 20:45] brimwats commented on #40
Though I hit reload and now it's not showing again....

![image](https://user-images.githubusercontent.com/49103046/124399084-1b0ad300-dcce-11eb-9398-7f4b87e11d54.png)

[2021-07-04 20:46] brimwats commented on #40
that error only happened when I reloaded obsidian without closing out of the console first..also Semi was in the filter?

[2021-07-04 20:46] brimwats commented on #40
Just redid it and it is not reproduced 🤔

[2021-07-04 20:50] brimwats commented on #40
For some reason it it no longer working
![image](https://user-images.githubusercontent.com/49103046/124399192-c582f600-dcce-11eb-8dbd-f217299510c2.png)

![image](https://user-images.githubusercontent.com/49103046/124399193-c6b42300-dcce-11eb-8ef6-6d9192e55e21.png)

[2021-07-04 20:52] brimwats commented on #40
I am going to try to delete the bold again and save the file and reload—need to step away for a few mins now though

[2021-07-04 20:53] SkepticMystic commented on #40
I gotta get to bed. I'll have a look at this again tomorrow. This is a strange bug, but we will squish it.
Sorry that this is happening, and thank you for helping me debug this 😄

[2021-07-04 21:07] brimwats commented on #40
for some reason it started working again

![image](https://user-images.githubusercontent.com/49103046/124399594-26133280-dcd1-11eb-94ba-d43724c877f9.png)

logs have it hanging on the note after the great wave again

![image](https://user-images.githubusercontent.com/49103046/124399592-23b0d880-dcd1-11eb-90f5-ea2df2c75cb5.png)

[2021-07-04 21:08] brimwats commented on #40
note that I didn't edit the first note at all, all I did was save the unstructured data note

[2021-07-05 07:46] HEmile opened #42 "Nullpointer at Juggl graph creation"
Hi! I've tried breadcrumbs on my vault, but got a null pointer at (I think) this line: https://github.com/SkepticMystic/breadcrumbs/blob/d045686ce486cb92057eff30e0d1a3bc9b85de0a/src/sharedFunctions.ts#L85

[code]

It looks like the regex you use to split doesn't always resolve.

[2021-07-05 08:53] SkepticMystic commented on #42
Ahh thanks! I should just be able to null check, then coalesce it to the empty string if it doesn't resolve

[2021-07-05 08:55] SkepticMystic commented on #42
@HEmile will you let me know if this still happens in 0.6.7

[2021-07-05 08:55] SkepticMystic commented on #40
Gonna close this beast of an issue. I think we got things working

[2021-07-05 08:55] #40 closed

[2021-07-05 09:09] HEmile commented on #42
Yes, not getting this anymore!

[2021-07-05 09:09] #42 closed

[2021-07-05 09:17] SkepticMystic commented on #42
Awesome :)
Do you think this is a good approach?
[code]
If there's no match, just return an empty array

[2021-07-05 11:43] HEmile opened #43 "Filter siblings which have a different relation to the parent"
Siblings are notes with the same parents. However, if the current note is related to the parent through link type A and another through link type B, I would not expect those to be siblings. Is it possible to filter implied siblings to only show those with the same type of relation?

[2021-07-05 12:02] SkepticMystic opened #44 "Expandable list items"
I should just be able to recursively call `<List>` inside itself. But the component would need access to the functions to compute the parents, siblings, and children of the expanded note. It gets passed `matrixView`, so I guess it alreayd has access?

[2021-07-05 12:14] HEmile opened #45 "[Bug?] Links in the pane are shown with aliases (Juggl links)"
When using Juggl links (haven't tested others), the aliases of the links are also shown in the pane:

![image](https://user-images.githubusercontent.com/1289165/124469986-50312700-dd9b-11eb-9247-d0617aa11075.png)

[2021-07-05 13:05] SkepticMystic commented on #45
Ahh right, I forgot to run the regex replace for Juggl links. I'll implement that in the next release

[2021-07-06 07:32] SkepticMystic commented on #38
@kometenstaub does this still happen?

[2021-07-06 09:58] SkepticMystic opened #46 "If no indexNote is given, the trail should also climb the implied parents tree, not just the real one"

[2021-07-06 11:06] SkepticMystic commented on #41
Fixed in 0.6.10

[2021-07-06 11:17] SkepticMystic commented on #45
@HEmile should be fixed in 0.6.11
Will you let me know if it's working for you when you get a chance

[2021-07-06 11:41] HEmile commented on #45
Yes, that works, thanks!

[2021-07-06 11:41] #45 closed

[2021-07-06 16:40] #41 closed

[2021-07-06 19:34] kometenstaub commented on #38
On Android yes, on iOS not.
So it must be because of the slower processor on Android.

[2021-07-07 06:39] #33 closed

[2021-07-07 07:33] SkepticMystic commented on #36
There is now basic functionality for this as of 0.7.0.
However, it only works when given multiple explicit index notes. If you don't have an index note in settings, you will still only see one path

[2021-07-08 10:34] SkepticMystic commented on #36
This should be working much better now.
In 0.7.3 there is some weird behaviour where it doesn't always show the full path. But overall, it's a useful feature.
@kometenstaub will you give it a try and let me know. You no longer need to have an indexNote to show multiple paths up the parent tree

[2021-07-08 15:16] SkepticMystic commented on #36
Given that this is now possible (thank you @HEmile :D) I'm gonna consider this issue closed!
![image](https://user-images.githubusercontent.com/70717676/124947492-29c7f180-e010-11eb-9f42-c90062352c34.png)

[2021-07-08 15:16] #36 closed

[2021-07-08 15:16] SkepticMystic commented on #46
Fixed in 0.7.4

[2021-07-08 15:16] #46 closed

[2021-07-08 15:25] #15 closed

[2021-07-08 15:26] SkepticMystic commented on #3
This problem is deceptively non-trivial, but I'm working on it

[2021-07-08 19:53] BricoleurSoul opened #48 "Bug in 7.4 (upgrade from 7.1)"
### Update - Resolved

**Issue  Resolved by leave the Index/Home Note(s) setting empty**

( One of the new features added means you don't have to have an explicit index note for the trail to work)

=================================================================================

Bug in 7.4 (upgrade from 7.1)

1) in 7.4 Breadcrumbs no longer show at top of note even when option enabled.
2) at 7.4

[2021-07-09 17:11] SkepticMystic commented on #37
Fixed in 0.8.3

[2021-07-09 17:11] #37 closed

[2021-07-10 06:30] #48 closed

[2021-07-10 18:17] jakeoung opened #49 "I couldn't see any list"
Hello, I'd like to use your amazing plugin, but it seems something wrong on my computer.

I have the index file and set a child, but I couldn't see anything in the breadcrumbs tab as follows:

![image](https://user-images.githubusercontent.com/2376897/125172773-67b14b00-e1b3-11eb-9fb2-84df32a5b885.png)

I use Mac. Do you have any idea?

[2021-07-10 20:08] SkepticMystic commented on #49
Hey :)
Can you also screenshot your settings, and also open up the console and send any errors that come up (`Ctrl + Shift + I`).
If there are no errors, change notes a few times and see. If there's still nothing, turn on debug mode in the settings and try again. If there's still nothing, turn on super debug mode and try again.

[2021-07-10 20:44] jakeoung commented on #49
![image](https://user-images.githubusercontent.com/2376897/125175945-828dba80-e1c7-11eb-9941-48f38513c6ac.png)
![image](https://user-images.githubusercontent.com/2376897/125175948-88839b80-e1c7-11eb-9b16-bf82feee24e9.png)

After checking the console, I realize that I have this error:
[code]

[2021-07-11 00:27] WhatABloooke commented on #49
Hi I'm also getting similar-looking errors and have done since maybe version 2 or 3 (can confirm exact version when I'm on my desktop later today). No combination of settings has yet made any change. Let me know if there's any more data I can send from my case. Thanks!

    at MatrixView.draw (eval at <anonymous> (app.js:1), <anonymous>:8459:17)
    at eval (eval at <anonymous> (app.js:1), <anonym

[2021-07-11 07:01] SkepticMystic commented on #49
@jakeoung @WhatABloooke the error `Cannot destructure property 'gParents' of 'this.plugin.currGraphs' as it is undefined` is "normal". That happens when the plugin tries to show the breadcrumbs before the graphs have initialised. This should only happen once on load, though.

@jakeoung that second error is from Breadcrumbs, and I think that's where the problem is!
Can you turn on Super Debug Mode

[2021-07-11 07:07] SkepticMystic commented on #49
Also, do you guys have dataview enabled? You shouldn't have to have it enabled, but the functionality is different if you do

[2021-07-11 07:32] BricoleurSoul commented on #49
Yes, use it extensively for many purposes.

David
On Jul 11, 2021, 12:07 AM -0700, SkepticMystic ***@***.***>, wrote:

[2021-07-11 07:39] SkepticMystic commented on #49
Alright, that should actually help. I think Dataview's metadatacache is more standardised, so less goes wrong.
For now, I need those console logs from Jake to move further on this issue.

Regarding the error `Cannot destructure gParents...`, I am waiting on dataview to expose the `index-ready` event so I don't have to hardcode a timeout period before trying to use it's index

[2021-07-11 07:56] SkepticMystic opened #50 "Heatmap: Allow any color"

[2021-07-11 07:57] SkepticMystic opened #51 "Heatmap: Allow customisable range of alphas"
Let the user limit the range of alpha values used in the heatmap

[2021-07-11 07:58] SkepticMystic opened #52 "Dots: Get a working Proof of Concept up"
Show dots inside the grid cells similar to how Calendar does.
The dots will initially show word count, but eventually anything the user chooses

[2021-07-11 07:59] SkepticMystic opened #53 "Calculate graphs once, with a button to refresh"
Running the entire computation every time `active-leaf-change` fires is getting expensive.
I can `initGraphs` once `onload`, and then have a button to refresh them as desired.
The auto refresh interval can also refresh the graphs.

[2021-07-11 08:08] BricoleurSoul commented on #53
I wondered about that and was thinking of lengthening the refresh time period but had yet tried to see if that caused problems on initial load.
On Jul 11, 2021, 1:00 AM -0700, SkepticMystic ***@***.***>, wrote:

[2021-07-11 08:16] SkepticMystic commented on #53
Do you experience noticeable lag when changing notes?
I've been surprised at how fast things are, even on larger vaults. But with the new features being added things are understandably starting to slow down

[2021-07-11 08:31] WhatABloooke commented on #49
No, I'm getting the same empty pane and lack of trail at the top of notes as the OP. I thought it might be a related issue. I do have dataview enabled though.

[2021-07-11 08:38] BricoleurSoul commented on #53
I haven't noticed anything worrisome yet  but only have about 2,500 notes so far.

[2021-07-11 08:44] SkepticMystic commented on #49
@WhatABloooke can you do the same thing then. Enable super debug mode, change notes, and send me the last few console logs that appear

[2021-07-11 08:45] SkepticMystic commented on #53
Alright, maybe this isn't such a big issue. I can also make it optional, so that if someone wants to, the whole computation can be run everytime

[2021-07-11 08:59] jakeoung commented on #49
Even if I change the note, the debug doesn't change. ( I enabled superdebug mode). I don't use dataview plugin, but I installed it one month ago or something. Thanks!

[2021-07-11 09:04] WhatABloooke commented on #49
![image](https://user-images.githubusercontent.com/74401804/125189226-8ffb8100-e269-11eb-91c6-dafa4a6879e0.png)

This is the last handful of logs. It also doesn't change when I change notes. I'll go through my plugin list and see if I can isolate any conflicts there.

[2021-07-11 09:08] WhatABloooke commented on #49
There's no change with no community plugins enabled except Breadcrumbs and Dataview. Same logs, same blank list.

[2021-07-11 09:59] SkepticMystic commented on #49
@jakeoung you don't see a whole bunch of console logs? Super debug mode should log lots of thing.
I suppose if it doesn't then the problem is elsewhere, but the error indicates that it is to do with the metadata in one of your notes

[2021-07-11 10:00] SkepticMystic commented on #49
@WhatABloooke alright this is good, the error should be something to do with the content of the note `three clue rule`.
Can you send a screenshot of that note

[2021-07-11 10:07] jakeoung commented on #49
@SkepticMystic Yes, I have lots of debugging console.

![image](https://user-images.githubusercontent.com/2376897/125191004-1e570f00-e238-11eb-9bd3-016ed543858f.png)

In the note called ring, filed, I have this metadata:
---
sibling: [[group = set + binary operation]]
---
Is there something wrong here?

[2021-07-11 11:18] SkepticMystic commented on #49
@jakeoung can you send the content of the entire `ring` note, if you're fine with that. You can also DM it to me on Discord if you want :)

Can you also enter this into the console and send the results: `app.plugins.plugins.dataview.api.page('ring')`

[2021-07-11 11:55] jakeoung commented on #49
I solved this issue by installing dataview plugin and using [[ ]] in the metadata

[2021-07-11 11:59] SkepticMystic commented on #49
@WhatABloooke we can leave this issue open until we've figured out the bug for your setup :)
You can message me on Discord with the screenshot if you prefer!

[2021-07-11 13:02] jakeoung commented on #49
With the new version 0.8.8, it works without dataview

[2021-07-11 13:15] SkepticMystic commented on #49
@WhatABloooke give version `0.8.8` a try, I think it should fix your issue as well :)

[2021-07-11 16:51] SkepticMystic opened #54 "Style the grid based on the type of parent"

[2021-07-11 17:04] SkepticMystic opened #55 "Split up m/l view by relation subtype"

[2021-07-11 17:05] SkepticMystic opened #56 "Have entirely separate hierarchies"
parent: `parent, species`
child: `child, member`

Have separate hierarchies for `parent/child` and `species/member`

[2021-07-11 17:43] SuperMeip opened #57 "Implied relationship is real"
This is all the link code in my current vault:
![image](https://user-images.githubusercontent.com/11747166/125204973-e1961280-e24d-11eb-9c88-940ad6f2d5e7.png)

But for some reason, this note has a real link that should be implied:
![image](https://user-images.githubusercontent.com/11747166/125204980-ec50a780-e24d-11eb-86f3-ef603ec1833d.png)

Which is also making the implied note that shouldn't be

[2021-07-11 17:49] jakeoung opened #58 "Bug if a note title contains a comma ,"
I have a note called "ring, r-module" and its child "vector space". In the vector space note, it seems to detect ring and r-module separately as follows:

![image](https://user-images.githubusercontent.com/2376897/125205104-8f1e1b80-e278-11eb-87c7-b9b4004e13b8.png)

[2021-07-11 18:34] SkepticMystic commented on #58
I think the issue is that using commas in a yaml list `[]` will always be treated as separate values. (I don't split by commas anywhere, so I don't think it's from Breadcrumbs)
Links were never meant to go in yaml anyway, Breadcrumbs and dataview kinda use a hack to get around this, but the notes will always be seen as separate if they're in the yaml, I think

[2021-07-11 18:35] SkepticMystic commented on #58
The only way around this is to use dataview inline fields `parent:: [[ring, r-module]]`. But I know that crashes your computer...
Maybe consider changing from commas to something else in the note names. But I can't change how yaml parses it

[2021-07-11 18:59] jakeoung commented on #58
Okay, no problem. I will change the title without comma

[2021-07-11 19:15] jakeoung commented on #58
To use the inline function, do I need to install dataview?

[2021-07-11 19:15] SkepticMystic commented on #58
It's a long-shot, but what if you escape the comma? `[[ring\, r-module]]`

[2021-07-11 19:16] SkepticMystic commented on #58
Yes, you do need dataview for inline fields

[2021-07-11 19:16] SkepticMystic commented on #58
You can also use Juggl link syntax if you have Juggl enabled

[2021-07-11 19:18] jakeoung commented on #58
Oh okay. with \, it still doesn't work, but it's fine. I will check Juggl!

[2021-07-11 19:20] jakeoung commented on #58
Juggl works perfectly! I think I will keep using juggl syntax :)

[2021-07-11 19:26] SkepticMystic commented on #58
That's great to hear :)
It's a very powerful way to visualise your graph, too!

[2021-07-12 10:31] SkepticMystic opened #59 "Option to see any untyped link as a sibling"
Have a togglable option to see links without relationship types (just regular links) as siblings.
I think sibling is the most reasonable fallback type, as it doesn't assume any vertical hierarchy

[2021-07-12 10:31] #58 closed

[2021-07-12 17:44] SkepticMystic opened #60 "Don't show Trail on kanban boards"

[2021-07-13 13:46] #49 closed

[2021-07-13 14:06] #16 closed

[2021-07-13 14:17] SkepticMystic opened #61 "Collapsible Settings Interface"

[2021-07-13 14:21] #61 closed

[2021-07-13 19:33] BricoleurSoul commented on #53
I am getting heat issues on my Mac Laptop recently - I not sure the root cause yet but it does seem to be somewhere in Obsidian - but I've been beating the heck out of the poor machine with incessant runs of data view  as well as  building new breadcrumb chains through my vault.  I am going to increase refresh time on Breadcrumbs to see if that has impact - if not then I will guess that 2 data vie

[2021-07-13 20:26] BricoleurSoul opened #62 "Using "go back <--" rather than backlink to Kanban Master from task note displays note breadcrumb on master in md view"
a) if I switch to markdown view for the board
b)I follow link  to one of the  task notes md display
c) then use back arrow in obsidian to get back to the kanban (master) in md view that view now has the breadcrumb from the last visited task note md display.
d) switching back to   kanban board view everything is set correctly

**Originally I said that only when, I switch to markdown and follow link

[2021-07-14 15:43] neatpun opened #63 "Real parents at even positions are erroneously repeated in the "Implied" list"
When I first load this note, the bug is present only for parents:
![image](https://user-images.githubusercontent.com/35105426/125650650-4bb10a23-e3a5-4c97-b7aa-61c97e6ddc13.png)

Then when I click on "List" and the sidebar reloads, the bug appears for children as well:
![image](https://user-images.githubusercontent.com/35105426/125650812-c41ed01c-667a-4649-a37b-6abfcd843719.png)

[2021-07-15 13:59] kometenstaub opened #64 "[Feature] Work together with jump to link plugin"
Would it be possible to hook into this/add the functionality to breadcrumbs to press a hotkey, have a little popup next to a breadcrumbs link with a letter and then on pressing that letter to be taken to that linked page?

That's the plugin in question: https://github.com/mrjackphil/obsidian-jump-to-link

[2021-07-15 17:36] SkepticMystic commented on #63
@neatpun will you let me know if this still happens on `0.8.17`

[2021-07-15 17:37] #50 closed

[2021-07-17 09:13] #60 closed

[2021-07-17 09:14] SkepticMystic commented on #57
@SuperMeip do you mind checking if this issue is fixed in the latest release?
Breadcrumbs is on the community plugin page, so you can update it from there

[2021-07-17 13:01] SuperMeip opened #65 "Uncreated pages appear when switching to list mode:"
https://i.gyazo.com/61a65fb3a760657f69d1d9e08aba5545.gif

As you can see, a ton of non-existant pages suddenly join implied siblings.
These items are listed in a child field explicitly somewhere else(under Dawn), but have not been created yet, so maybe it's messing with it somehow?

[2021-07-17 13:09] SuperMeip commented on #57
This looks to be fixed on my end!

[2021-07-17 13:09] #57 closed

[2021-07-17 15:44] trungng2006 opened #66 "No command in the command pallet"
Thank you for your plugin!!!
However, the breadcrumb: open pane does not show up in command pallet.

This is the error showing up in the console:
[code]

[code]

[2021-07-17 16:12] SkepticMystic commented on #65
Well, if Dawn is that note's parent, and all those new notes are Dawn's children, then they are also the current note's siblings. You know what I mean?
But it is weird that you first have to change view types to see them there.

Is it accurate that they are implied siblings, though? If your parent has other children, then those children must be your siblings

[2021-07-17 16:14] SkepticMystic commented on #66
Hey :) Thanks for sending this through. If the command to open the pane isn't in the command palette, that means it's already open in the right-side leaf.
The error `cannot destructure gParents...` is expected. That is a different bug which I'm waiting on a fix for.
Are you able to see the Breadcrumbs pane on the right side?

[2021-07-17 21:00] neatpun commented on #63
@SkepticMystic No longer happens in 0.8.18, thanks! Closing the issue.

[2021-07-17 21:00] #63 closed

[2021-07-17 21:45] FTWynn opened #67 "FR: Auto-Updating Index"
I love the idea of this plugin and I would love to see a view where we could see the whole outline hierarchy at once, instead of just the relationships in the current pane.

Currently, I build the hierarchy myself in a sort of master outline note, and then use block references to bounce back and forth between individual notes and the outline, but if I could just generate that outline from the rela

[2021-07-18 06:54] SkepticMystic commented on #67
Thanks for the FR :)
I agree, this would be really useful! A bit of a secret, you can _kind of_ do this already... You see, I've been working on this feature since the beginning. This issue speaks about it already #3. It turns out to be deceptively difficult though. If you try out the existing feature you'll see the problem.
If you open the list/matrix view, you'll see the `Create Index` button. I

[2021-07-18 13:56] trungng2006 commented on #66
Yes! Sorry for not checking this first.
Thank you so much!

[2021-07-18 13:56] #66 closed

[2021-07-19 01:26] adxsoft opened #68 "Feature Request - Suppress breadcrumbs for notes without breadcrumbs metadata"
Add option to fully suppress breadcrumb information at top of preview mode for any notes with no parent, child or siblings metadata.

If edit mode breadcrumb view is ever added as a new feature it should also have an option to suppress the breadcrumb information

The basis of this request is many notes will not be part of a parent/child/sibling breadcrumb network.

This will allow a clear visual d

[2021-07-20 07:55] mkasu commented on #36
I can't get this feature to work. It once worked briefly for me in 0.8.17 or so I think, but in newer versions I just see the shortest path, no matter what settings. I have selected "all paths" in options and also set an index/home note.

I have this note with two parent notes which should display two different routes to the home note, but it only shows one, the  second route via "Vision and Langu

[2021-07-20 08:02] SkepticMystic commented on #36
@mkasu can you message me on Discord, it'll be easier to debug from there :)
My handle is @SkepticMystic

[2021-07-20 09:49] SkepticMystic commented on #68
Added in 0.8.19

[2021-07-20 09:49] #68 closed

[2021-07-21 14:14] SkepticMystic commented on #3
@brimwats @ashishbhateja I think I've got this working... Will you try out 0.9.15 and let me know if it works for you.
Currently, it will copy the index to your clipboard

[2021-07-21 14:27] SkepticMystic commented on #67
@FTWynn will you let me know if this works in 0.8.19 :)
Clicking the Create Index button will now copy the index to your clipboard

[2021-07-21 14:41] FTWynn commented on #67
Confirmed on the root note up to six levels deep for now! Child notes only copy the hierarchy relative to them.

[2021-07-21 14:47] SkepticMystic commented on #67
What do you mean they only copy the hierarchy relative to them? Can you show me an example with the expected output

[2021-07-21 16:26] brimwats commented on #3
@SkepticMystic this works great on a page where all the NTs and BTs (etc) point to. Is there any way to do it for the entire vault?

[2021-07-21 16:32] brimwats commented on #67
@SkepticMystic same thing I mentioned in the other thread—I'm pretty sure @FTWynn is asking for all the hierarchies at once. For example, my landing page only has one NT right now l
![image](https://user-images.githubusercontent.com/49103046/126525156-7a0928d3-5442-47fa-91da-5141ca4b1219.png)

but the etymology page has lots
![image](https://user-images.githubusercontent.com/49103046/126525186-d4c

[2021-07-21 16:33] brimwats commented on #67
Although I think you'd need to do something to distinguish the "implied" vs real NTs RTs and BTs in my example--maybe a prefix in the settings?

[2021-07-22 07:13] SkepticMystic commented on #67
I think I'm confused... It seems like there are a few different points here:

1. Show the entire hierarchy from the 'top' of the vault.
2. Show more than just `child` relationships.
3. Print the immediate neighbours to the current note

For each of those points:

1. Can't you just go to the 'top' note and create the index from there? Given that the index is relative to the current note, creating t

[2021-07-22 11:37] brimwats commented on #67
1. I have no top note, there are multiple interlocking hierarchies. I wanted the index so I could fix things and make it coherent, but even then there will be multiple hierarchies
2 + 3.  That's fine! It's okay if it's not doable. Here's an idea of a list of thesauri to compare to: https://www.asindexing.org/about-indexing/thesauri/online-thesauri-and-authority-files/

[2021-07-22 12:40] SkepticMystic commented on #67
For 1. I could add an option to generate an index for all top notes at once.
A top note would be defined as a note with no parents. What do you think? This would be the same as manually going to each top note and pasting each index into one big one

[2021-07-22 12:42] SkepticMystic commented on #67
3. Would be easy to do.
Just to confirm I'm understanding correctly, it would just copy what's already in the matrix view to your clipboard? So it would put the neighbours of the current note into the clipboard

[2021-07-22 13:06] brimwats commented on #67
1 sounds perfect, yes! Perhaps the feature could be "breadcrumb overview" or "full index" or something if you were looking for phrasing?

I'm not sure if I am understanding #3 though—I think yes? I was generally hoping to generate a whole hierarchy list so I could see things and then regularize them/correct errors :)

[2021-07-23 08:37] SkepticMystic commented on #67
For 3. could you give me a bigger example. I think I'm struggling to see the full feature from the example you gave

[2021-07-23 13:39] brimwats commented on #67
yes -but i'll need a few days, have a conference today and moving tomorrow — don't be afraid to ping me if I forget

[2021-07-23 13:48] brimwats commented on #59
You could steal the "related note" suggester plugin function to do this!

I would suggest using emojis like ⤴⤵↔ for parent/child/sib

[2021-07-26 00:21] FTWynn commented on #67
Whew, what a week! Time to resurface and describe more what I'm talking about!

So the goal I have is to recreate Beau Haan's approach to permanent notes (described in the video here), but to _generate_ the permanent notes page. Linked timestamp shows the permanent notes page, but he start walking through the process at the 8 minute mark.

https://youtu.be/KoddCmn3eL0?t=1581

A key goal of the sys

[2021-07-26 14:52] weeyizhi opened #69 "FR: trail shows path going as far as possible up the parent-tree when no path to index"
As of now, if we do not have any index file specified, the trail shows the path going as far as possible up the parent-tree. If we have an index file specified, the trail only shows the shortest path to the index.

Instead of the "no real or implied parents" message, I would like to be able to see the path going as far as possible up the parent-tree if I have an index specified, but the current fi

[2021-07-26 16:31] SkepticMystic commented on #69
Ahh interesting... so have a "mixed" option to always show all paths, but specify if a path to the specific Index note couldn't be found?

[2021-07-27 00:32] weeyizhi commented on #69
Nope. I meant if we enter an index, show path(s) to index if it exists; but if it does not then show path(s) that goes as far up the parent tree as possible.
Whether or not multiple paths are shown should still rely on the show all path settings.

[2021-07-29 19:23] jakeoung opened #70 "FR: Supporting Juggl-style syntax without requiring the package"
Currently I use the syntax like:

- parent [[name1]], [[note2]]

But it requires the juggl plugin. It would be nice if I don't need to install juggl plugin as well!

[2021-07-30 06:26] Salamander230 opened #71 "Feature Request: Creating an "Contact" category"
I've recently discovered this wonderful plugin and I was intrigued with the thought of keeping track of Parents, Siblings, and Children.

I was also thinking perhaps a new category may be appropriate in addition to Sibling: "Contact".

Let's say for example you have a pet in the family, a friend who you are on good terms with, or even your rival or enemy. The dog, friend, and rival/enemy are not y

[2021-07-30 06:31] SkepticMystic commented on #71
Thank you for such a detailed FR! :)
I see the value in having this separate relationship. I will definitely try implementing this in a reasonable, hopefully non-breaking way. I'm still busy with uni stuff, but I've got a break soon, so I'll be able to work on this

[2021-07-30 06:35] Salamander230 commented on #71
No rush, and thanks for the quick reply!

In the meantime, I am just stacking on metadata field names in the "siblings" category and using those as my workaround. It was just that for some things, I didn't find it appropriate to call them "siblings", per se... Maybe its more semantics on my part.\

And again, thanks for the awesome plugin! Good luck with uni!

[2021-07-31 16:48] SkepticMystic opened #72 "A node can be both kinds of implied siblings, and appear twice in the l/m view because of it"

[2021-07-31 18:12] jakeoung opened #73 "FR: Showing alias of notes when generating local index"
I often have more meaningful names in _alias_. It would be nice if there is an option to include alias as well, when we generating local index or global index!

[2021-07-31 18:26] SkepticMystic commented on #52
Added in 0.9.18.
Currently it shows dots based on file size

[2021-07-31 18:26] #52 closed

[2021-07-31 18:57] SkepticMystic commented on #73
Thanks for the request :) I was busy working on the index when you posted this, so I thought I'd give it a try!
I think it's working in 0.9.19, will you give it a go and let me know? You have to enable it as a setting under `Create Index`

[2021-07-31 19:06] jakeoung commented on #73
Fantastic! It works smoothly :) Thanks so much for the quick update :)

[2021-07-31 19:06] #73 closed

[2021-08-01 09:27] SkepticMystic commented on #67
Made a bit of progress on this. There are now two commands for Breadcrumbs:
1) Create a local idnex (does what the Create Index button used to do)
2) Create a global index (does what I specified in point 3.)

[2021-08-01 10:20] gfidias opened #74 "After the last update (2021-08-01) breadcrumbs stopped working"
VM276:6350 Uncaught (in promise) TypeError: Cannot read property 'path' of null
    at eval (eval at <anonymous> (app.js:1), <anonymous>:6350:49)
    at Array.map (<anonymous>)
    at getFieldValues (eval at <anonymous> (app.js:1), <anonymous>:6350:30)
    at eval (eval at <anonymous> (app.js:1), <anonymous>:6374:39)
    at Array.map (<anonymous>)
    at eval (eval at <anonymous> (app.js:1), <anon

[2021-08-01 17:26] SkepticMystic commented on #74
Thank you for posting this. Can you message me on Discord, it'll make this easier to debug.
My handle is @SkepticMystic

[2021-08-01 21:12] stefanopagliari opened #75 "Error when indexing template note with parent {{LINKCURRENT}}"
Breadcrumbs (0.9.23) returns an error and fails to load properly when indexing a note that includes this value in the YAML:

Parent:
  - {{LINKCURRENT}}

[2021-08-02 02:06] BricoleurSoul commented on #62
this seems to have been resolved in test I just ran now - I had not retested since first testing so the other change you made on Kanban issue or latest refactoring (tested on 9.23) may have resulted in fix.

[2021-08-04 02:54] superupon commented on #74
Is this issue still working on? I updated the plugin to 0.10.1, still not work.

[2021-08-04 06:38] SkepticMystic commented on #74
Hey @superupon will you message me on Discord. Debugging these issues is usually pretty unqie to each person, so it'll be easiest over there

[2021-08-04 07:07] BricoleurSoul opened #76 "Add Bidirectional Relationship indicator to Capture of Stats Cell entries."
In capture to clipboard of cells of the stats table  row entries currently have one direction entries even if the relationship is real in both directions.  i.e. a bidirectional relations  is currently reflected by two entries eg.<br>**Valley of Disappointment** → Plateau of Latent Potential <br>and  the obverse <br>Plateau  of Latent Potential→ **Valley of Disappointment** ...  <br>it would be hel

[2021-08-04 12:51] superupon commented on #74
Hi, @SkepticMystic, how I could get connected to you? I have not used Discord before.

[2021-08-04 13:08] SkepticMystic commented on #74
That's ok, we can debug it over github then :)
Can you do the following:
1) Send the `data.json` file for breadcrumbs. You can find it in `Vault/.obsidian/plugins/breadcrumbs/`
2) Check the Obsidian console to see if you get any errors when running Breadcrumbs
3) Enable Super Debug mode in the settings of Breadcrumbs, then change to a different note in your vault, and send the console logs that ap

[2021-08-04 13:47] superupon commented on #74
[data.txt](https://github.com/SkepticMystic/breadcrumbs/files/6931677/data.txt)
Hi, I have to rename it to "data.txt", since github does not allow me to upload ".json" files.

For 2, Obsidian console only showed output like this:

loading FileExplorerNoteCount
main.ts:76 loading plugin plantuml
VM122:47731 loading breadcrumbs plugin
DevTools failed to load SourceMap: Could not parse content for ap

[2021-08-04 13:54] SkepticMystic commented on #74
Thanks for sending this.
1) Can you change the Index Note setting to be blank and see if that works. Just leave the text box empty.
2) Do you have the dataview plugin enabled? You don't needi it, but it will narrow down the problem.
2) I think you enabled `Debug Mode`, but can you do it with `Super Debug Mode` instead

[2021-08-04 14:11] superupon commented on #74
For 1, I tried, still no breadcrumb showed up.

And for easy to debug, I created a new vault with breadcrumb installed only.
I created two .md file "test" and "A", A has metadata like this:
---
parent: [[test]]
---

And I opened Super Debug Mode. When I choose test.md, it will output
GetObsMetadataCache: test
VM108:6248 {obs: undefined}
VM108:6248 GetObsMetadataCache: A
VM108:6248 {obs: {…}}
VM108

[2021-08-04 14:27] SkepticMystic commented on #74
Can you open up each of those objects and send the content inside of them

[2021-08-04 14:36] superupon commented on #74
Output:
[code]

Should I open those objects more deeper?

[2021-08-04 14:41] superupon commented on #74
I tried to open those objects more deeper.
![objs1](https://user-images.githubusercontent.com/7564035/128201176-983ad63b-4439-4b55-aa24-048e0015f80d.png)
![objs2](https://user-images.githubusercontent.com/7564035/128201208-1e48c88f-cbda-4477-a57c-aa2c2abbc849.png)

[2021-08-04 16:47] swehba opened #77 "Is there a way to turn off the breadcrumbs for a note that does not have breadcrumb information in its YAML header?"
I think this plugin is potentially useful, but I don't want it to appear in every note — only in notes where I have set up some relationships — certainly explicit ones, and possibly implicit ones. Is there a way to control this behavior?

[2021-08-04 17:59] SkepticMystic commented on #77
If you leave the "No Path Found Message" setting blank, then the path won't show at all for notes with no path

[2021-08-05 06:34] SkepticMystic commented on #74
Thank you, this gives me a better idea of where the problem lies.
I'll try fix it today

[2021-08-05 08:32] SkepticMystic commented on #74
@superupon can you check if this is working in 0.10.5, I think I found the bug

[2021-08-05 12:43] superupon commented on #74
Great, I have verified in my obsidian. This issue is solved in version 0.10.5!
Thanks for your patience and support. Breadcrumb is heavily used in my daily work. That's a big help :)

[2021-08-05 13:06] SkepticMystic commented on #74
Awesome! Glad to hear the issue is resolved, and also to hear that you find value from the plugin 😄
I'm gonna close out this issue, hopefully any other bugs from the refactor are resolved

[2021-08-05 13:06] #74 closed

[2021-08-05 15:56] swehba commented on #77
Yes, that appears to work. Thanks. I did have to reload Obsidian for the change to take effect. Is that expected?

[2021-08-07 07:24] Quorafind opened #78 "Feature: Highlight the route between A node and B node"
Is it doable to hightlight the route between two node? Like search route?

![image](https://user-images.githubusercontent.com/13215013/128592210-55cf120e-7f3e-4aaa-9976-273e0602ab0d.png)

1. You define A node as the start one, B node as the end one, then search, and highlight the route.

When you push next one button, the next route would be highlighted.

[2021-08-08 10:58] SkepticMystic commented on #77
Makes sense, I haven't inplemented hot reloading for that setting. I'll add that in the next update, thanks

[2021-08-09 21:10] jakeoung opened #79 "Question: is it possible to fix the position of the tab "Breadcrumbs matrix""
Thanks again for this amazing plugin :) I just have a question regarding the tab.

By default, this tab is positioned on the right side bar. But I usually don't use the right side bar and I put it on the left side bar. However, whenever I update the plugin, its position is changed on the right side bar. Is there any way to fix the position? Or, is this behaviour controlled by the obsidian app? Tha

[2021-08-09 21:30] stefanopagliari opened #80 "Feature Request: automated renaming of parents/children in notes"
Currently Obsidian automatically renames the links to a note when this is renamed. I do not know if this is possible with a simple plugin, but it would be helpful if breadcrumbs could do the same, updating the references to a parent/child note when this is renamed.

Just an idea/suggestion, not something that is pressing.

[2021-08-10 07:16] SkepticMystic commented on #80
Hey Stefano :)

So if you have a link in the content of your note, it will automatically be renamed when changing the name of the note it links to.
But if the link is in the YAML of the note, then it doesn't get renamed. Is that what you're referring to?
If so, that is because Obsidian doesn't see `[[wikilinks]]` in yaml as real links, I've just written Breadcrumbs to work around this. And so, the

[2021-08-10 07:17] SkepticMystic commented on #79
Hmmm interesting. This is a result of how I load the matrix tab. I could very well make it load to the left side just as easily. I can make this a setting to toggle for Right or Left. I'll let you know when I've worked on it :)

[2021-08-10 16:36] veradrawer commented on #71
If Breadcrumbs would allow "contacts" in a nonlinear way whilegiving the option to name said relationships, Obsidian would suddenly become the first tool to actually solve concept mapping: Notes as nodes and links as verbs; what we're missing is the option to name links.

If we could name said "contact" as "#pet", suddenly we could do a Dataview query of owned pets and pet owners. Give each entry

[2021-08-10 16:44] veradrawer opened #81 "FR: Group implied siblings (Type II) by parent"
I currently use parents, siblings and children as derivatives via the Matrix view: literary notes have as parent it's authors, and as implied children any notes that use said reference as bibliography. Siblings are thus any note that come from said parents, but I'ts missing the option to let us know wheresaid siblings are coming from.

It would be amazing to sort siblings by grouping them by paren

[2021-08-10 16:50] veradrawer commented on #76
If we were to create some kind of graph using this while having the option to name said bilineal relationships as verbs, we would create the ideal concept mapping tool.

Note ← #concept → Note

[2021-08-11 01:02] heliostatic opened #82 "Open Stats and Open Matrix view not showing in Command Palette"
Two of the commands that are expected (Open Stats and Open Matrix view) with Breadcrumbs do not appear in the palette (or I expect them incorrectly, which is always possible)
<img width="725" alt="2021-08-10 at 20 59 11 - Obsidian - CleanShot" src="https://user-images.githubusercontent.com/70898/128953957-8ce51d34-7950-499f-a802-84872f183319.png">

[2021-08-11 01:39] Ravenclawer opened #83 "[bug]Breadcrumbed only work for the first time I open my computer and the first time i open obsidian"
I am on windows 1903 and my obsidian version was 0.12.12, after creating sets of notes according to breadcrumbed plugin wiki, the breadcrumbed matrix didn't show what it was supposed to display.
![image](https://user-images.githubusercontent.com/73892411/128956176-d4fb009e-1595-4966-8c4a-1351f5e3246d.png)
and the visualizer didn't display anything but an empty frame.
![image](https://user-images.g

[2021-08-11 01:40] Ravenclawer commented on #83
the breadcrumbed plugin was 0.10.11

[2021-08-11 01:45] Ravenclawer opened #84 "FR: Filter nodes in Vis View"
Add a search frame in visualization view and behave just like obsidian's search frame that allows users to filter out unwanted notes or folders

[2021-08-11 01:57] Ravenclawer commented on #83
I have seen a similar issue in the closed section and that issue seems to be solved by upgrading obsidian to 0.10.5, maybe this issue will solve after the next upgrade of obsidian software.

[2021-08-11 05:13] SkepticMystic commented on #82
If they aren't the in the command palette, then those two views should already be open in the right side leaf. Let me know if it works :)
There is also a new setting to toggle which side the matrix view opens on (left or right)

[2021-08-11 05:16] SkepticMystic commented on #83
Hey RavenClawer, thanks for posting the bug.
Can you keep super debug mode enabled, open up the Obsidian console (Ctrl + Shift + I), change to a different note, and then send the last few console logs that appear.

Also, do you get any errors in the console before doing super debug?

[2021-08-11 05:19] SkepticMystic commented on #84
Definitely something I intend to add to the vis view! It is difficult to add the same search functionality that graph view has, because that feature isn't exposed to other plugins yet. But I could implement a more basic version of this for now

[2021-08-11 05:21] SkepticMystic commented on #81
Interesting, I like this idea.
I'm gonna be working on a big change from some previous FRs, but I'll work on this when possible.

[2021-08-11 06:30] Ravenclawer commented on #83
this is the first few lines in the console after i opened Obsidian
![image](https://user-images.githubusercontent.com/73892411/128980335-77192d55-0e78-4cc0-b5e2-60e826dca261.png)
![image](https://user-images.githubusercontent.com/73892411/128980379-febd35f5-a41b-43d5-b284-510dc97bb66c.png)

this is the last few lines in the console
![image](https://user-images.githubusercontent.com/73892411/128980

[2021-08-11 06:50] SkepticMystic commented on #83
Hmmm ok, that's strange. Can you turn off super debug, enable regular debug mode, change to a different note, and then look inside the `fileFrontmatterArr` object to see if things look right. You should see any `undefined`

[2021-08-11 07:07] Ravenclawer commented on #83
I turn off the supper debug mode and it appears as follow:
![image](https://user-images.githubusercontent.com/73892411/128984526-b7ded791-6379-4083-8b1f-df6ea89e9f81.png)

[2021-08-11 07:07] Ravenclawer commented on #83
I turn off the supper debug mode and it appears as follow:
![image](https://user-images.githubusercontent.com/73892411/128984526-b7ded791-6379-4083-8b1f-df6ea89e9f81.png)

[2021-08-11 08:35] Ravenclawer commented on #83
it seems like it had picked up the metadata:
![image](https://user-images.githubusercontent.com/73892411/128997065-6a3a390a-bbf1-4db3-87c8-f72974601e05.png)

[2021-08-11 08:53] SkepticMystic commented on #83
Are any of the entries in `fileFrontmatterArr` `undefined`?

[2021-08-11 09:07] Ravenclawer commented on #83
I do have many files other than markdown format in the vault, maybe those files caused the problem. as to entries, they all got some values, but some of them have some information even when you collapse them.
![image](https://user-images.githubusercontent.com/73892411/129001767-cfa089ce-2fb5-4654-b602-914ec89d44a5.png)
and some of them includes strange information.
![image](https://user-images.git

[2021-08-11 14:38] heliostatic commented on #82
Yep, that's exactly it. Whoops :D

[2021-08-11 14:38] #82 closed

[2021-08-13 07:43] HEmile opened #86 "Breadcrumbs doesn't display anything in latest version, with TypeError"
Hi,

Since the latest version, Breadcrumbs doesn't display anything anymore (not in preview, trails, stats). Looks like the indexing is botched up somewhere. Here is my output:

![image](https://user-images.githubusercontent.com/1289165/129322301-cc2c05db-0487-4bf5-97a6-0b9dd9a78546.png)

[2021-08-13 07:48] SkepticMystic commented on #86
I accidentally released a breaking change, right before I went to bed!😞
If you go into settings, under the first drop down, you'll see things are different... you can now have multiple separate hierarchies (#85). The changes breaks Breadcrumbs, so you now have to add in your new hierarchies, reload, and it _should_ work.
You can have any combinations of fields within a hierarchy. (↑: Up, Parent; →

[2021-08-13 07:50] SkepticMystic commented on #86
Be sure to save each hierarchy after editing, and press Show Hierarchies to make sure it did as you wanted.

![image](https://user-images.githubusercontent.com/70717676/129323238-1dd10f82-fd8c-47a2-adcd-8560107efd02.png)

[2021-08-13 07:52] SkepticMystic commented on #86
Also, it's very possible the new functionality noticeably slows things down... I've got a fix I'm gonna implement soon

[2021-08-13 09:09] jakeoung commented on #86
From the latest version, Breadcrumbs doesn't display anything to me as well.

[2021-08-13 09:32] SkepticMystic commented on #86
@jakeoung I accidentally pushed a breaking change. Have you set up hierarchies as described above? I updated the settings documentation to explain how.
Let me know once you've done that, and also update to 0.10.18

[2021-08-13 09:41] jakeoung commented on #86
I've updated the new version! But it still doesn't work. (I change the setting as you mentioned) It seems that if I set parent in alias, it seems to work, but if I use the syntax of Juggl, it doesn't work.

[2021-08-13 09:43] SkepticMystic commented on #86
Alright, I suspected it was an issue with the Juggl syntax... I'll take a look and try get it working. Thanks for the info!

[2021-08-13 12:25] SkepticMystic commented on #86
@jakeoung can you try 0.10.20 and let me know if it works with Juggl links

[2021-08-13 12:46] jakeoung commented on #86
It works! Thanks :) The only thing which doesn't work is that when I copy the index, it shows parents in a weird way. (Before, it showed child)

[2021-08-13 12:46] HEmile commented on #86
It also works for me now!

[2021-08-13 13:34] SkepticMystic commented on #86
@jakeoung thanks for the feedback! I'm gonna close out this issue, but do you mind making a separate one for this index problem :)

[2021-08-13 13:34] #86 closed

[2021-08-13 13:34] SkepticMystic commented on #56
Introduced fully in 0.10.20

[2021-08-13 13:34] #56 closed

[2021-08-13 13:35] SkepticMystic commented on #53
Implemented in recent 0.10.... release

[2021-08-13 13:35] #53 closed

[2021-08-13 13:37] #77 closed

[2021-08-13 13:38] SkepticMystic commented on #79
@jakeoung This should be working from a previous `0.10.x` update. Just make sure to close the matrix view before changing the default setting. You may also need to reload Obsidian once, but it should work after that

[2021-08-13 13:38] #79 closed

[2021-08-13 13:39] SkepticMystic commented on #83
@Ravenclawer can you give it a try on the latest version and let me know if anything has changed

[2021-08-13 14:34] Ravenclawer commented on #83
I have upgraded the Breadcrumbed plugin to 0.10.21, and it still won't work.
Thank you so much for working on this, I have noticed there is a refresh button you have added. I believe it was caused by the large number of plugins that  I have installed and some unusual file types that I put in the vault(i have put the entire Zotero program in the vault to make linking to pdfs in Zotero convenient bu

[2021-08-13 14:50] jakeoung opened #87 "From the latest version, generating index yields parents, not child"
Before, it worked as I expected. But from the new version, generating index makes index for the parents of the note, not the child.

For example, from the top parent note, nothing generates.

[2021-08-13 15:15] SkepticMystic commented on #83
I think this would be alot easier to debug if we had a Zoom call or something. Maybe over Discord?
Let me know if you're open to that, my Discord handle is @SkepticMystic

[2021-08-14 07:08] SkepticMystic commented on #87
Should be fixed in the latest version, thank you for noting this bug 🙂

[2021-08-14 07:08] #87 closed

[2021-08-14 08:09] SkepticMystic commented on #65
@SuperMeip what do you think of this issue? Is it accurate that those notes are implied siblings? Even if they haven't been created yet.

[2021-08-14 08:23] SkepticMystic commented on #70
@jakeoung This was alot easier than I thought it would be! Should be working in 0.10.23

[2021-08-14 08:23] #70 closed

[2021-08-14 08:51] Ravenclawer commented on #83
Thank you, you're so kind, today. I reinstalled obsidian and try to create new vaults to try on different versions of breadcrumbed. I found that this issue is resolved in the 0.10.22 version of the plugin.
The following is my problem-solving process.
I am using the Tokyo night theme  for my vault, and the setting page of breadcrumbed appeared like this:
![image](https://user-images.githubuserconte

[2021-08-14 08:51] #83 closed

[2021-08-14 08:55] SkepticMystic commented on #83
Awesome, I'm really glad it's working for you on the new versions 😄
Feel free to message me here or on Discord if you experience any other troubles with it.

[2021-08-14 08:56] Ravenclawer commented on #83
haha, again, many thanks for your help :)

[2021-08-14 09:07] jakeoung commented on #70
Thanks so much, but from the latest version, my breadcrumbs doesn't work at all :P without or with juggle plugin

[2021-08-14 09:09] jakeoung commented on #70
I have this error:
[code]

[2021-08-14 09:14] SkepticMystic commented on #70
That's 'normal'. Does it start working if you press "Refresh Index"? If not, does it start working if you disable then re-enable Breadcrumbs?
Do you use dataview?

[2021-08-14 09:16] jakeoung commented on #70
If I reindex, I have the following:
[code]
I don't use Dataview at all.

[2021-08-14 09:27] SkepticMystic commented on #70
Oops, my bad. Will you try on 0.10.24. You'll probably still need to press "Refresh Index" for it to start working

[2021-08-14 09:31] jakeoung commented on #70
It worked now perfectly without Juggl! Thanks a lot :)

[2021-08-14 09:35] SkepticMystic commented on #70
Awesome :) Did you need to press Refresh Index? Did you get any other errors?

[2021-08-14 10:29] jakeoung commented on #70
I think I don't need to press the button. Also, it seems everything is fine!

[2021-08-14 13:17] SkepticMystic commented on #38
I will consider this closed now that one can customise the time to wait for dv to load

[2021-08-14 13:17] #38 closed

[2021-08-14 17:58] konhi opened #88 "🐛 undetected parent if note is a number"
- v0.10.24 (currently newest)
- doesn't work either on v0.9.5, a version from 25 days ago - it's not a new issue
- adding a letter before number fixes it

![obsidian-breadcrumbs-bug](https://user-images.githubusercontent.com/61631665/129455826-e6406616-6aad-46c7-9ae2-975a60d78f4d.gif)

[Shown vault.](https://github.com/SkepticMystic/breadcrumbs/files/6986954/breadcrumbs-bug.zip)

[2021-08-14 18:04] konhi commented on #88
May cause be that title is stored as numeric type, instead of text?

**2021.md**
![image](https://user-images.githubusercontent.com/61631665/129456304-28ecb233-ca84-49ba-b7cd-838fb8703a07.png)

**2a021.md**
![image](https://user-images.githubusercontent.com/61631665/129456344-f84170c8-c4e5-4a23-96ca-bfb672e6d3ab.png)

[2021-08-15 07:32] SkepticMystic commented on #88
Ahh well spotted, thanks! This only seems to happen when using the Obsidian metadata cache. If you're using dataview, it converts it to a string already. I will check if the value is a number, then convert toString, if so. I'll let you know when I've pushed the fix

[2021-08-15 08:13] SkepticMystic commented on #88
This should be fixed in 0.10.25

[2021-08-15 08:13] #88 closed

[2021-08-15 08:24] SkepticMystic commented on #81
@veradrawer I'm thinking about how this would be implemented. Everything would, of course, be optional. So there is no worry that it breaks functionality for users who don't want this feature.
That being said, there are a couple ways I'm thinking this could be done:
1. If you hover over an implied note in the matrix view, there could be a tooltip showing which note implies it.
2. There could be a

[2021-08-15 08:26] SkepticMystic commented on #80
@stefanopagliari what do you think?
I agree that it would be useful for the yaml to be updated when a note is renamed, but I think that would be a whole plugin on its own. As I'm sure many people would find that useful while also not wanting Breadcrumbs installed.

[2021-08-15 08:28] SkepticMystic commented on #43
This should be implemented in 0.10.25. There is now a setting under "List/Matrix View" to turn this feature on/off.
I'm gonna close out the issue, but let me know if there is a bug

[2021-08-15 08:28] #43 closed

[2021-08-15 08:29] SkepticMystic commented on #55
I forget what exactly I meant by this, but I think #81 is the same. Gonna close this and continue discussion over there.

[2021-08-15 08:29] #55 closed

[2021-08-15 08:36] SkepticMystic commented on #71
@Salamander230 @veradrawer I'm thinking about this feature from the coding side, and it seems relatively simple to implement... Let me know what you think of this: a contact is similar to a sibling, expect it doesn't imply any other contacts. From the code side, I would basically just be adding a new relationship type, and skipping the part where I fill in the implied version of that relation. Is

[2021-08-15 08:41] SkepticMystic commented on #64
I've opened a FR for this, I'll see if there is something I can do on my side to make this easier to implement.

https://github.com/mrjackphil/obsidian-jump-to-link/issues/24

[2021-08-15 08:41] #62 closed

[2021-08-15 08:50] SkepticMystic commented on #67
@FTWynn I think there are a few different ideas floating around in this thread, so I'm struggling to grasp them individually as practical points I can add to the code. Perhaps we can discuss this on Discord, it would help me get a more coherent picture of what your FR is. Do you mind messaging me when you're able and we can discuss this? My handle on the Obsidian server is also @SkepticMystic 😄

[2021-08-15 08:51] SkepticMystic commented on #67
@brimwats can I get that bigger example 😅
I hope your conference and move went well!

[2021-08-15 08:53] SkepticMystic commented on #3
I'm gonna close this issue out as more recent discuss is happening in #67

[2021-08-15 08:53] #3 closed

[2021-08-15 09:00] SkepticMystic commented on #75
@stefanopagliari Does Breadcrumbs still break if this is the case? I tested on my side and things seem to work fine

[2021-08-15 13:12] konhi commented on #80
In my opinion it's indeed very useful and wanted feature, and it's good if it would be separate plugin!

[2021-08-15 15:12] SkepticMystic commented on #80
Cool cool, I'm gonna close this issue out then. This feature should be it's own plugin :)

[2021-08-15 15:12] #80 closed

[2021-08-15 16:42] SkepticMystic commented on #78
@Quorafind I've made some progress on this! Now, you can hover over a node to highlight the path (if it exists), back to the current note (the note you opened the vis view on)

[2021-08-15 17:20] brimwats commented on #67
Yes...except breadcrumbs no longer seems to work? I dunno something about the "create hierarchies" broke things for me. I can give you a zipped folder maybe?

[2021-08-15 18:00] SkepticMystic commented on #78
This is now working alot better in the latest version. Right click a node to set the starting point of the path, then hover over another node to highlight the path between the two

[2021-08-15 21:04] brimwats1 opened #89 "Feature Request: Place Statistics in Bottom Bar Option"
I think it would be great if this
![image](https://user-images.githubusercontent.com/49103046/129492838-43c012a8-145d-4f78-9902-729b90eaf5c4.png)

would show up in the bottom bar here:

![image](https://user-images.githubusercontent.com/49103046/129492845-c7a5ae3e-3971-43e3-9b6d-63d00eb0cb6b.png)

[2021-08-16 07:46] SkepticMystic commented on #89
Ahhh good idea! I think doing it for every hierarchy separately (how it currently shows in the stats view), would be way too cluttered. So instead, I can show the totals for all hierarchies:
`↑(N: 75, E: 54) →(N: 75, E: 54) ↓(N: 75, E: 54)` to say that **all** the `up` fields have 75 Nodes, and 54 Edges, and so on.
What do you think of this @brimwats?

[2021-08-16 14:11] brimwats commented on #89
I think either picking a "starred" category to show in the bottom bar and then defaulting to the totals would give folks the most options :)

[2021-08-16 14:13] brimwats commented on #67
@SkepticMystic here are two different folders with multiple hierarchies (thogh 600 is only 1 level deep rn)
[500 - Research PKB & Methods.zip](https://github.com/SkepticMystic/breadcrumbs/files/6993000/500.-.Research.PKB.Methods.zip)
[600 - Etymologies & Onomastics.zip](https://github.com/SkepticMystic/breadcrumbs/files/6993001/600.-.Etymologies.Onomastics.zip)

[2021-08-16 15:49] SkepticMystic commented on #89
Ahhh now that is a good idea! I shall do so

[2021-08-17 13:54] SkepticMystic commented on #4
@brimwats can I get your thoughts on this issue in the context of all the new features, especially multiple hierarchies.
Is this more achievable now that it used to be? Are there things Breadcrumbs still can't do that this FR is asking for?
It seems like some of the fields it proposes are fundamentally different from a simple `up`, `same`, or `down` relation. Stuff like `TopConcept` would be like

[2021-08-17 18:21] brimwats commented on #4
that's exactly right! which means it would be longer term, and perhaps something out of scope for you right now! feel free to close if so :)

[2021-08-17 20:20] keithadams opened #90 "Feature Request: Use an Outline in an Index Note to Establish Relationships"
# Use an Outline in an Index Note to Establish Relationships

Instead of using frontmatter, what if we had the option to use dedicated outline files to establish relationships? By using some set of rules, the user can identify the outline as specific to the breadcrumbs plugin (e.g. title prefix, title suffix, tag, frontmatter in the outline file). The user could then rearrange Wiki Links in a stri

[2021-08-18 06:14] SkepticMystic commented on #90
Ooooh this is a good idea! I would definitely only implement it for a specific note, as it would require alot more computation to parse the note content versus grabbing the note's metadataCache.
There would be a setting `Bullet Point Index Notes: ["Index 1", "Index 2", ...]` telling Breadcrumbs to look for this specific type of index on those given notes

[2021-08-18 06:16] SkepticMystic commented on #90
lol, and using this feature, you could use the `Create Index` command to auto generate the existing index, and then get rid of all the breadcrumbs in your notes! Nice and clean

[2021-08-18 15:01] BricoleurSoul commented on #90
Heaven forbid!

I would not want a “ghost in the machine” having a global impact on the matrix and graph - I like  the “genie in the bottle” to show implied relationships (an incredibly powerful and useful tool) but I am a great believer in a “don’t destroy the data” philosophy and removing the data for the original seems dangerous!

If I have a new note to be “breadcrumbed” I would still want to

[2021-08-18 15:07] SkepticMystic commented on #90
Hahaha for sure, it wouldn't be necessary to remove anything, just possible 😋
But I like this idea as a way to create the index in one, separate place

[2021-08-18 17:36] swehba opened #91 "Provide more descriptive commit messages"
Calling every commit a "chore" provides no clue as to what may have changed. In comparing some of the revisions, it's clear that some of the "chores" actually involved bug fixes and user-observable changes. It would be nice to know what is changing. It also helps build confidence that the code is well managed and the the plugin will continue to progress and be maintained — which all of us are hope

[2021-08-18 17:56] SkepticMystic commented on #91
Hey @swehba. I use a framework called Conventional Commits, you can google to find out more. This framework, along with the tool Standard Versioning, means I automatically create a changelog with every release. This changelog can be found in the root of the repo here: https://github.com/SkepticMystic/breadcrumbs/blob/master/CHANGELOG.md
The changelog only shows features and bug fixes, but if you c

[2021-08-18 18:41] SkepticMystic opened #92 "FR: Allow manual sorting of items in L/M View"
1. Order alphabetically (Currently the breadcrumbs appear in the same order they appear in that file, I think)
2. Use a custom property of a file to sort the breadcrumbs in it. `sortorder`, for example.

[2021-08-18 20:27] keithadams commented on #90
@SkepticMystic I'm glad you like the idea. Thanks for the consideration!

The idea came from trying to make sense of 70+ related links using an outline. Things went from a flat mess to a clear structure pretty quickly, especially using outline shortcuts. Immediately after, I wanted to use breadcrumbs (awesome plugin btw!) to take advantage of this structure. Even with automation and macros, updati

[2021-08-18 21:15] hieu6 commented on #81
I like option 2, physical/visual separation for a quick at a glance overview

[2021-08-19 09:30] HEmile commented on #81
Yes, me too! Would it say what the parent is, though?

[2021-08-19 09:42] SkepticMystic commented on #81
@HEmile Yes, the breadcrumbs would be grouped into a mini-matrix with the parent as it's heading

[2021-08-19 14:49] BricoleurSoul commented on #90
Just tossing this in the rising...

How about MOC?  - "Map of Concept" that is used in many, and somewhat different ways, but this proposed  outline of the topic structure feature seems to fit to me.

David

On Aug 19, 2021, 9:01 AM -0500, SkepticMystic ***@***.***>, wrote:

[2021-08-19 14:54] SkepticMystic commented on #90
@BricoleurSoul I like this. I think I'd brand it specifically as "Breadcrumbs MOC", to avoid ambiguity.

Also, maybe "Reverse Index", "Auto Index", "Breadcrumbs TOC (Table of Contents)"

[2021-08-19 16:22] keithadams commented on #90
I like the suggestions so far. To add a few candidates:

- Hierarchy Note
- Note Hierarchy
- Hierarchy Outline
- Note Hierarchy Outline

[2021-08-19 21:26] bodiequirk commented on #92
Looks like you beat me to the punch! Would love to see a consistent order in my Breadcrumbs hierarchy! Thanks Ross

[2021-08-20 06:17] SkepticMystic opened #93 "FDG only opens when active note has breadcrumbs"
The FDG shouldn't require this

[2021-08-20 18:39] SkepticMystic commented on #90
@keithadams I'm almost done with this feature, I _think_.
But one problem is, now that there are multiple hierarchies, which hierarchy do I add these links to?
For example, if I have two hierarchies: `↑: up, →: same, ↓: down` and `↑: parent, →: sibling, ↓: child`, which type of `↓` should these notes get added to?
I guess there could be a setting to specify which type they are. I think what would

[2021-08-20 18:59] BricoleurSoul commented on #90
I like the approach of choosing the down value for which hierarchy to use,  so  ->  and ^ automatically follow.

I am testing with four hierarchies now, I will  probably not go with one of them but already have another in mind so I think the flexibility of being able to define which used with this feature would be a must for widespread use - not just for me but for anyone who uses the multiple hie

[2021-08-20 19:05] SkepticMystic commented on #90
@BricoleurSoul just pushed the new release, will you work your testing magic and see how it works 😄
So currently, it parses a Hierarchy Note of the form:

![image](https://user-images.githubusercontent.com/70717676/130281648-2305698a-1d1a-460e-b49c-e04fae38e6d1.png)

Every item has to be a list item `- [[Note]]`.
Use indentation to indicate depth in the hierarchy.
It doesn't matter how much indent

[2021-08-20 19:06] SkepticMystic commented on #90
Darnit, push a silly bug. Gimme a sec

[2021-08-20 19:18] BricoleurSoul commented on #90
Will gladly do - I just recovered from self inflicted error that broke indexing (so in testing mood now 😊) may be next day for you before I have meaningful feedback (grandkids are insisting on special birthday event and dinner out now as I won’t be here for the actual date in 3 months…)

I’ll try to figure what I did that broke indexing yesterday (as I didn’t have time to localize whether my fourt

[2021-08-20 19:25] SkepticMystic commented on #90
@BricoleurSoul _should_ be working in latest release 🤞🏼 (it works on my main vault)
One issue I know is that you can't have blank lines in between items, or at the end of the hierarchy... I thought I fixed this, but I guess not. It'll have to do for now.

Hopefully you can give it a small try before going 😅
Enjoy the dinner though, sounds fun!

Also, do let me know if the issue persists. I hope, f

[2021-08-20 19:40] SkepticMystic commented on #90
Alright, blanks line should be allowed now :)

[2021-08-21 00:33] keithadams commented on #90
Lightning fast delivery! Impressive! I'll be trying it very soon.

Perhaps you could set the desired relationships in the frontmatter of the particular "Hierarchy Note":

<img width="344" alt="Screen Shot 2021-08-20 at 5 25 53 PM" src="https://user-images.githubusercontent.com/11220719/130304643-26c4a1e1-58f1-4680-94d4-365d7c0fa518.png">

And if I had another **Hierarchy Note** about say a Family

[2021-08-21 00:55] keithadams commented on #90
One more alternative, although I don't like this one as much. It seems error prone.

Use a default child relation similar to how you have it now, but user can override the default in the **Note Hierarchy** with a prefix.

## Example

<img width="362" alt="Screen Shot 2021-08-20 at 5 47 46 PM" src="https://user-images.githubusercontent.com/11220719/130305381-f3f712e4-8c04-491b-90dc-792f36fc069c.png

[2021-08-21 01:12] keithadams commented on #90
It seems only the first child is being connected to the parent. Using your example:

![simple test](https://user-images.githubusercontent.com/70717676/130281648-2305698a-1d1a-460e-b49c-e04fae38e6d1.png)

---

**A**
A.1 is a child
A.2 is not a child
A.3 is not a child

---

**A.2**
A.2.1 is a child
A.2.2 is not a child

---

**B**
B.1 is a child

[2021-08-21 01:20] keithadams opened #94 "Hierarchy Note only detecting first child"
When using the Hierarchy Note feature, it seems only the first child is being connected to the parent. Using this example:

![simple test](https://user-images.githubusercontent.com/70717676/130281648-2305698a-1d1a-460e-b49c-e04fae38e6d1.png)

---

**A**
A.1 is a child
A.2 is not a child
A.3 is not a child

---

**A.2**
A.2.1 is a child
A.2.2 is not a child

---

**B**
B.1 is a child

_Originally p

[2021-08-21 01:26] keithadams opened #95 "Breadcrumbs no longer detected when a Hierarchy Note is deleted"
If a note specified in the "Hierarchy Note(s)" setting is deleted or missing, then it seems to stop all breadcrumbs from working.

[2021-08-21 05:04] SkepticMystic commented on #90
@keithadams I like the frontmatter version best. It gives the user flexibility to have different hierarchy notes for different hierarchy fields. And because the second option seems complicated to put together :yum:

[2021-08-21 05:05] SkepticMystic commented on #94
Hmmm ok, thanks for the bug issue.
Can you:
1. Send the md content on that note.
2. Enable debug mode, refresh index, and send thru the console logs that appear. Hopefully you can an error that makes it obvious what the problem is

[2021-08-21 05:07] SkepticMystic commented on #95
Interesting... I think I know what the error is, shouldn't be too hard to fix.
Can you check the console for any errors when this happens.

[2021-08-21 05:37] keithadams commented on #94
This one throws an error and prevents index from refreshing.

[Hierarchy Note.md](https://github.com/SkepticMystic/breadcrumbs/files/7024965/Hierarchy.Note.md)

[obsidian.md-1629524113300.log](https://github.com/SkepticMystic/breadcrumbs/files/7024968/obsidian.md-1629524113300.log)

[2021-08-21 05:39] keithadams commented on #94
Also, I the same example using a new vault and the breadcrumbs worked properly.

![](https://user-images.githubusercontent.com/70717676/130281648-2305698a-1d1a-460e-b49c-e04fae38e6d1.png)

[2021-08-21 05:42] keithadams commented on #95
[obsidian.md-1629524471109.log](https://github.com/SkepticMystic/breadcrumbs/files/7024978/obsidian.md-1629524471109.log)

[2021-08-21 06:12] SkepticMystic commented on #94
Ooooohh I think I see the error...
@keithadams can you try the same thing, but using tabs instead of spaces?
Just to confirm where the bug is

[2021-08-21 06:15] SkepticMystic commented on #95
Makes sense, let me fix that. Thank you for finding this!

[2021-08-21 06:28] keithadams commented on #94
Yes, It worked with tabs!

[2021-08-21 06:36] SkepticMystic commented on #94
Alright, I'm currently working on a fix for the problem, you shouldn't have to use tabs anymore.

That's strange that you don't see any siblings... There obviously won't be real siblings (because the hierarchy note only creates a ↓ relation). So there will definitely be real children, implied parents, and there should be some implied siblings (notes with the same parents).
If this issue carries on

[2021-08-21 06:38] keithadams commented on #94
Yeah, I'll open another issue if it persists. Thanks for fixing/implementing this!

[2021-08-21 06:49] SkepticMystic commented on #95
Confirmed working on my test vault and main vault in 0.10.36

[2021-08-21 06:49] #95 closed

[2021-08-21 06:50] SkepticMystic commented on #94
Can you give it a try in 0.10.36
It's working on my two vaults.
Now you really can use any amount of indentation, as long as it is exactly the same for all lines. So if you use two spaces to indicate one level of depth, then use that amount everywhere. A depth 3 note would have 2 x 3 = 6 spaces.

[2021-08-21 06:51] SkepticMystic commented on #94
And if the indentation isn't consistent, you should get a notice. It allows won't break everything else if the indentation isn't right 😅

[2021-08-21 06:57] SkepticMystic commented on #94
Hmmmm no... there is an edge case I missed. I've got to try another way of fixing this. To Google!

[2021-08-21 06:59] keithadams commented on #94
Yeah, I'm getting the notice that my indentation isn't consistent and the breadcrumbs stopped working. I checked that spacing was consistent and trimmed whitespace. Also, I'm using 4 spaces if that helps.

[2021-08-21 07:02] SkepticMystic commented on #94
Ok, for realsies. Can you check on 0.10.37 in a couple minutes

[2021-08-21 07:04] keithadams commented on #94
Yes, it's working 😄

[2021-08-21 07:09] SkepticMystic commented on #94
Awesome 😄
Thank you for finding these bugs! Please do let me know if you find any others.

This hierarchy note feature is an interesting problem :)

[2021-08-21 07:10] #94 closed

[2021-08-21 07:29] #93 closed

[2021-08-21 09:24] keithadams opened #96 "Sibling relationships missing from Matrix/List view when using a Hierarchy Note"
Siblings aren't displaying when using a **Hierarchy Note**. I'm testing it with a new vault and the following simple hierarchy.

<img width="305" alt="Screen Shot 2021-08-21 at 2 14 14 AM" src="https://user-images.githubusercontent.com/11220719/130317171-4c4754ed-9cae-49cf-b11b-0e4199e39421.png">

The following image is the Matrix for Parent 1. It should have Parent 2 and Parent 3 as siblings.

<i

[2021-08-21 11:11] zcysxy opened #97 "FR: Allow list items to use other list delimiters `*`, `+`"
Currently a Hierarchy Note must be a pure list with the list identifier being `-`. I hope it can parse other Markdown list identifiers (`+`, `*`) as well.

Also I hope it can allow other content like yaml, comment, headings in the Hierarchy Note.

[2021-08-21 13:12] SkepticMystic commented on #96
Hmmm this makes sense.
The Hierarchy Note is only filling in real children relations. So although the implied parent relations are there, that isn't enough to then imply a sibling.
Having the same _real_ parents will imply a sibling, but having the same _implied_ parents doesn't.
I guess the solution, then, is to make the hierarchy note fill in real children and real parents, which I think makes s

[2021-08-21 13:54] SkepticMystic commented on #78
Gonna close this out, as it works how I intended

[2021-08-21 13:54] #78 closed

[2021-08-21 14:12] SkepticMystic commented on #96
@keithadams in 0.10.43 (I should really role over to 0.11.0 at some point 😓), you can now give an ↑ relation for the hierarchy note to fill in as real. This will mean implied siblings get filled in too.
You can have a ↓ relation, and ↑ relation, neither, or both.

[2021-08-21 15:57] bodiequirk opened #98 "Feature Request: Support for Obsidian Mobile and Publish"
I would love to be able to use Breadcrumbs as the complete navigation for my Obsidian vault, even on Mobile and Publish. Even if it was only the Trail feature at the top of the pages that would be enough. I love this plugin, and I want to use it everywhere! Thanks so much.

[2021-08-21 15:59] veradrawer opened #99 "FR: Support `parent: 'no wikilinks'` syntax in yaml"
Breadcrumbs 0.10.43

Currently when listing a note in the metadata to get it indexed it should be written in the following manner:

parent: [[note]]

_or_

parent:
- note

But, writing it as valid yaml gets breacrumbs not recognizing it:

parent: note

_or_

parent: "note"

I tag this as a bug because I do remember a time when this syntaxis was valid.

[2021-08-21 16:25] SkepticMystic commented on #99
Hey veradrawer, thanks for the issue.
Currently, you have to wrap the note in wikilinks, I think.
So it needs to be:
[code]
Did it used to work without wikilink brackets?
Do you have dataview enabled?
Do you get any console errors when refreshing the index?

[2021-08-21 16:26] SkepticMystic commented on #99
It's possible some other new feature is causing bugs

[2021-08-21 16:39] veradrawer commented on #99
Hi! Yes I have Dataview enabled, and it worked without wikilinks, unintended feature?

[2021-08-21 16:42] veradrawer commented on #99
For example, the following YAML is a real case:

author:
  - "Karen Holtzblatt"
  - "Hugh Beyer"
publisher: "Elsevier"

Author is declared as a type of parent, and breacrumbs is indexing both both, yet publisher it's also another parent and Elsevier is no longer being indexed.

[2021-08-21 16:47] SkepticMystic commented on #99
Hmmm weird... can you:
1. Run this in the console and send back the result: `app.plugins.plugins.dataview.api.page('<note name.md>')` for that note.

2. Enable superdebug, open up console, refresh index, see if you get any errors.

3. If no errors, look inside the `neighbourObjArr` and try find the values for that note. These are all the values for `Untitled Kanban`, for example:
![image](https://

[2021-08-21 16:49] SkepticMystic commented on #99
@veradrawer  Wait, I see where the problem is...
I suppose this can be changed to work in your case, but I don't want to potentially introduce a bunch of unforeseen consequences...
Basically, if you use a list of breadcrumbs `parent: ['a', 'b']`, then you don't have to wrap each one in wikilinks. But if you only have a single link in the field: `parent: 'a'`, then it has to have wikilinks.

[2021-08-21 16:53] SkepticMystic commented on #99
Yeah, I can see a bunch of changes that would need to be made if I allowed it to work in this case `parent: 'a'`... Perhaps there is a simpler solution I'm not considering, but for now I don't think I'll extend it to do that.
This did used to work before multiple hierarchies, but I completely redid the metadata parsing since then

[2021-08-21 16:55] SkepticMystic commented on #99
It _should_ work if you wrap it in single square brackets `parent: ['a']`

[2021-08-21 17:19] veradrawer commented on #99
It works, thank you!

[2021-08-21 17:41] chickenborn opened #100 "FR: Allow yaml frontmatter in hierarchy note"
![image](https://user-images.githubusercontent.com/9512860/130330503-68417045-6890-4129-967a-ac4b052c7d79.png)

[2021-08-21 17:50] chickenborn commented on #100
![image](https://user-images.githubusercontent.com/9512860/130330746-8f6a95c0-ff6a-4272-b848-661525e10cd3.png)

[2021-08-21 17:56] chickenborn commented on #100
I think I found the issue. The whole plugin doesn't work, if there is a code block in one of the hierarchy files.

[2021-08-21 17:58] chickenborn commented on #100
Or even metadata seems to break it for me.

[2021-08-21 18:07] keithadams commented on #96
Great solution, everything is working. Thanks again!

[2021-08-21 18:08] keithadams commented on #96
Quick typo

<img width="621" alt="Screen Shot 2021-08-21 at 11 03 24 AM" src="https://user-images.githubusercontent.com/11220719/130331186-d86316a2-e495-409d-aca9-fc57661adeff.png">

[2021-08-21 18:18] SkepticMystic commented on #100
Hey @chickenborn :) It sucks that the hundredth issue was a bug 😂 but it is what it is 😋
Yes, for now, the hierarchy note feature is relatively delicate. It can't have anything in it besides markdown list items `- [[Note]]` and blank lines. As you've seen, everything else will break it

[2021-08-21 18:20] SkepticMystic commented on #99
I'll keep this open for now to remind myself to try think of a simpler solution, but this is the fix for now

[2021-08-21 18:20] SkepticMystic commented on #98
Just noting what was discussed on the Discord:
1. No plugins on Publish for now
2. Possibly working on mobile

[2021-08-21 18:23] SkepticMystic opened #101 "FR: Option to add wikilinks to the copied content of Stats View"
Currently there is no way to wrap the copied content in wikilinks

[2021-08-21 18:23] SkepticMystic commented on #96
Oooh thanks! Will change that typo

[2021-08-21 18:23] SkepticMystic commented on #96
Gonna close this out

[2021-08-21 18:23] #96 closed

[2021-08-21 18:30] SkepticMystic commented on #99
Also, this syntax is how Licat intends to add support for links in yaml `parent: ['a']`, so I think it is enough that this works

[2021-08-21 18:30] SkepticMystic commented on #91
Gonna close this out. I have added a link at the top of the readme pointing to the changelog

[2021-08-21 18:30] #91 closed

[2021-08-21 18:31] chickenborn commented on #100
Oh very sorry for that :P

Now that I know the reason of the error, I have no big issue that there is currently no other content allowed, I just have a workflow that doesn't fit the current Breadcrumbs Hierarchy setup.

I have lots of index files (generated with the zoottelkeeper plugin) but I need to index them all by hand in the breadcrumbs menu so that's not a viable option.

[2021-08-21 18:42] veradrawer commented on #99
Thank you for caring

[2021-08-21 18:54] SkepticMystic commented on #97
Should be fixed in 0.10.44
@zcysxy will you give it a try and let me know :)

[2021-08-21 19:05] SkepticMystic commented on #100
@chickenborn in 0.10.44 you can now have yaml frontmatter in a hierarchy note!
Meaning the hierarchy note can be part of the hierarchy 😋

![image](https://user-images.githubusercontent.com/70717676/130332105-1f126b9c-c988-47b0-868c-afe9393037bd.png)

CC @zcysxy @keithadams @BricoleurSoul @bodiequirk

[2021-08-21 19:14] SkepticMystic commented on #90
Gonna close this out. I'll open up another issue for the ability to put the desired relationship into the frontmatter

[2021-08-21 19:14] #90 closed

[2021-08-21 19:15] SkepticMystic opened #102 "FR: Specify the hierarchy note up/down fields for each item"
![image](https://user-images.githubusercontent.com/70717676/130332606-da4f18b4-a57a-409e-8f44-c6369104f9de.png)

[2021-08-21 21:33] chickenborn commented on #100
That's great news, thanks!

[2021-08-22 00:43] keithadams commented on #100
Genius! Worthy of the 100th issue 🥳

[2021-08-22 05:02] zcysxy commented on #97
@SkepticMystic Yeah it works now 🎉

[2021-08-22 05:04] #97 closed

[2021-08-22 06:57] SkepticMystic opened #103 "FR: Clicking an unresolved link should create that note"

[2021-08-22 07:13] SkepticMystic commented on #103
Works in next release.
CC @HEmile clicking an unresolved linked should now create that note in the new-file-folder specified in your settings

[2021-08-22 12:52] HEmile commented on #103
Thanks!! Will test out sooon

[2021-08-22 18:10] #100 closed

[2021-08-22 18:12] SkepticMystic commented on #76
This has been added in the original sense of the FR.
@veradrawer can you make another FR to add the relationship name

[2021-08-22 18:12] #76 closed

[2021-08-23 05:24] globaldeejays opened #107 "FR: Free-Form Edit Mode in Breadcrumbs Visualization Graph"
Fully free-form mode where you can rearrange the nodes (like in simplistic mindmap software), without any modalities like force or distance etc. whatsoever.
And then, ideally a button to save that exact state and be able to load it (manually or by default, I'm ok with either but personally I'd love it to stay in free form mode and open where I left off last time).
Also next-level-ideal would be if

[2021-08-24 15:57] chumido98 opened #110 "Can plug-in auto update interlink when rename the note?"
Can plug-in auto update interlink when rename the note?

[2021-08-24 19:04] SkepticMystic commented on #110
Not if the link is in the yaml.

But if you use Dataview inline fields, Obsidian will automatically rename the link because it's just a regular link.

[2021-08-25 03:27] chumido98 commented on #110
Can you guide me how to do that? I'm new.

[2021-08-25 05:02] SkepticMystic commented on #110
Welcome :)
Dataview is a different plugin you can use with Obsidian. It is a very powerful tool. One of its features let's you add metadata field in the **content** of your note, not the yaml like Obsidian limits you to.
So if you install Dataview and enable it, you can now put `parent:: [[Note]]` in the content of your note (see the double colons for inline fields `::`).
Because it's in the conte

[2021-08-25 06:26] chumido98 commented on #110
![CleanShot 2021-08-25 at 13 25 01@2x](https://user-images.githubusercontent.com/61721378/130737580-300ad071-0b9c-41ab-aaf0-9e23e40d117c.png)
![CleanShot 2021-08-25 at 13 25 12@2x](https://user-images.githubusercontent.com/61721378/130737582-17a7d058-08e0-42f6-9872-7c75a1339919.png)

Like this or i missed somethings?

[2021-08-25 06:38] SkepticMystic commented on #110
@chumido98 exactly like that, yes! You see how Breadcrumbs can detect those links, in the right side Matrix view.
So now, if you rename `002 dad` to something else, the link `parent:: [[002 dad]]` will also get updated.

[2021-08-25 06:44] chumido98 commented on #110
I greatly appreciate your help. Besttt.

[2021-08-25 08:01] SkepticMystic opened #111 "FR: Write Breadcrumbs to file"
Press a button to fill in metadata for all implied relations.
Option to add `parent`, `child`, or both

[2021-08-25 11:01] lkadre opened #112 "Link all notes in this folder to the folder index note"
It would be very helpful to be able to quickly link all notes within a folder to a folder note or index note. That would quickly incorporate them into the hierarchy and give a good overview of the vault.

As mentioned in Discord:

The suggestion, which would solve the problem and quickly input the missing metadata, would be:

Thank you!
(And [here](https://discord.com/channels/686053708261228577/7

[2021-08-25 11:06] lkadre opened #113 "Link all notes with this tag to the index note for that tag"
Also mentioned was the possibility of linking tags to a sort of index note, as an easier way to bulk-create readable metadata and incorporate files into the hierarchy.

In some cases, people might have to create notes specifically for this purpose, especially if they don't have many "single concept" notes (a la Wikipedia articles), mas many times they already have a sort of index note or MOC relat

[2021-08-25 12:22] SkepticMystic commented on #113
Thank you for making these detailed issues 😄
I'll work on these when I can.

I think these are related to #111

[2021-08-25 14:39] lkadre opened #114 "Clash with Embedded Note Title plugin"
There's a bug when using both plugins at once in that they keep switching places/trying to sticky to the top of the note. It keeps glitching with sometimes the embedded note title to the top, then the breadcrumbs to the top, etc. making them effectively incompatible, but I hope it's something that can be fixed

[2021-08-26 19:58] bodiequirk opened #115 "FR: Ability to SHIFT + Click Links to Open in a New Pane"
Breadcrumbs has become the default navigation of my Obsidian vault and I cannot imagine it without it anymore.

The only setting missing would be to SHIFT + Click a link to open a new pane.

If you could add SHIFT+Clicking to open a new pane, that would be awesome!

[2021-08-27 14:06] veradrawer opened #116 "FR: Import parent and child into obsidian graph"
Having the obsidian graph updated with the relationships we're setting in the metadata feels like the obvious next step.

Current workaround: Manually adding a duplicate of the links so Obsdian updates the graph.

Thank you

[2021-08-28 06:32] SkepticMystic commented on #116
Gonna close this out. But given that Breadcrumbs already supports the proposed yaml link syntax, it should start working as soon as Licat adds support

[2021-08-28 06:32] #116 closed

[2021-08-28 06:44] #110 closed

[2021-08-28 06:45] #103 closed

[2021-08-28 06:45] SkepticMystic commented on #98
Gonna close this. Awesome to hear it's working on mobile, and I will try get it working on Publish when that is possible

[2021-08-28 06:45] #98 closed

[2021-08-28 06:53] SkepticMystic commented on #114
@enjolrs I've implemented a fix.
There is sometimes still a small flicker when both get added to the note, but now the Breadcrumbs trail should always be on the bottom

[2021-08-28 09:29] dbarenholz opened #117 "FR: Hide the trail with frontmatter field"
I personally would love to be able to hide the trail for specific notes.

My personal suggestion on what to call the variable to hide/show trail is `hide trail`; Usually, you'll want to show the trail, so it makes more sense to me to explicitly mention when to hide it.

[2021-08-28 12:55] skorphil opened #118 "This note has no real or implied parents"
Just got `This note has no real or implied parents` on every page

[2021-08-28 16:58] SkepticMystic commented on #118
@skorphil I'll need a little bit more info from you, but we can get it working!
Do you have Discord? It may be easier to debug from there, my handle is @SkepticMystic :)
If not, we can do it from here

[2021-08-28 18:40] enjolrs commented on #114
Thank you – however, it doesn't seem to have solved my problem, as you can see at the end of this video:

https://imgur.com/IfY4768

[2021-08-28 18:54] SkepticMystic commented on #114
Hmmm I see... it looks like Embedded Title is just taking long to load. It seems the order of events is: Note switches, Breadcrumbs loads, then Embedded Title.
Do you have alot of notes in your vault? Even then, it shouldn't take this long...

[2021-08-28 21:29] enjolrs commented on #114
I have a bit under 1500 notes, which I think isn't a lot in comparison to what some people have? And about 35 plugins, which seems to be standard for people who use plugins, as well

[2021-08-29 06:27] SkepticMystic commented on #114
I see. That shouldn't be an issue.
I think then the issue is coming from Embedded Note Titles. Because Breadcrumbs Trail gets added first, then the Embedded Note Title updates

[2021-08-29 09:52] SkepticMystic opened #119 "A linked note doesn't react to changes in the other note"
Having an edit and preview note open, changing stuff in one doesn't reflect changes to breadcrumbs in the other

[2021-08-29 09:55] dbarenholz commented on #117
We just implemented this together, so this can be closed 🥳

[2021-08-29 09:55] #117 closed

[2021-08-29 12:59] VictorHendricus opened #120 "Failed to install plugin "Breadcrumbs""

[2021-08-29 13:51] dbarenholz commented on #120
@VictorHendricus Can you give a little more information on what precisely fails?

For instance:

1. What steps did you take to install?
2. At which step do you get unexpected (=failing) behaviour?

[2021-08-29 14:03] VictorHendricus commented on #120
I did just regular installation from community plugins tab in obsidian. After I click install button it says "Installing plugin Breadcrumbs" and then says "Failed to install plugin Breadcrumbs". I also tried downloading from github directly and it saw the addon, but when I tried to enable it, it said "Failed to load plugin Breadcrumbs"

[2021-08-29 14:03] sdnnvs commented on #120
Same problem here. First, I tried to update the plugin from version 0.10.49 to 0.10.50, resulting in an inability to install. I uninstalled version 0.10.49, and even so, I couldn't install version 0.10.50. Only the message that the plugin cannot be installed appears.

[2021-08-29 14:12] dbarenholz commented on #120
I believe that @SkepticMystic's automatic release system is broken then; As you can see (https://github.com/SkepticMystic/breadcrumbs/runs/3454252870) the last commit is still building. So my guess: Obsidian immediately updates their index with "hey, we have a new version" even though this new version is not quite there yet.

[2021-08-29 14:22] VictorHendricus commented on #120
That makes sense

[2021-08-29 14:48] SkepticMystic commented on #120
Yeah, that's exactly what's happening...
I've got to manually release for now

[2021-08-29 17:37] brimwats commented on #120
![image](https://user-images.githubusercontent.com/49103046/131259944-5d071362-6077-4306-a0f1-c935daeb6bba.png)

just came here to confirm and show the console

[2021-08-29 17:42] SkepticMystic commented on #120
@brimwats @VictorHendricus @sdnnvs it should be working now on 0.10.51 :)

[2021-08-29 20:39] sdnnvs commented on #120
Yes, working now... great job... thx...

[2021-08-29 21:02] VictorHendricus commented on #120
Yeah it works, nice job, this add on would be very helpful for my system, thanks.

[2021-08-30 07:22] SkepticMystic commented on #120
Gonna close this out, glad it's working again

[2021-08-30 07:22] #120 closed

[2021-09-01 09:58] hieu6 opened #122 "FR: allow recognition of hierarchy based on Johnny decimal style file name"
based on brainstorm of the feature in the following discussion
 https://github.com/SkepticMystic/breadcrumbs/discussions/106#discussioncomment-1264105

an example of decimal notation that we can setup in a hierarchy note

![Screenshot_20210901-025244.png](https://user-images.githubusercontent.com/72253321/131651502-0978ee2e-b05a-4527-8347-41dee9c19de6.png)

🌻

[2021-09-03 09:44] SkepticMystic commented on #112
@enjolrs I'm gonna try get this working.
For now, I will work with the requirement that the Folder Index Note be named after the folder

[2021-09-03 09:49] SkepticMystic commented on #112
@enjolrs one issue that immediately comes up is that the Breadcrumbs index is refreshed from scratch every time.
So if you run the command `Link all notes in this folder to the folder index note` once, then those notes won't be part of the hierarchy anymore after pressing `Refresh Index`... So I think there needs to be a way to give a list of folders where you want this behaviour to happen, you kn

[2021-09-04 15:29] veradrawer opened #124 "FR: Display Alias (or user-specified field) instead of note name"
I was wondering if it could be possible for breadrumbs to display the declared note title instead of what the filename is so its consistent with Dataview.

Current preview of a sidebar:
![imagen](https://user-images.githubusercontent.com/75331117/132099382-ab0c61ba-6b50-442f-b3a2-538fd527420e.png)

[2021-09-04 15:41] SkepticMystic commented on #124
@veradrawer  What is the 'declared note title'? Do you mean it's alias?

[2021-09-04 16:51] veradrawer commented on #124
Pardon me if this isn't standard, but I tought that "title" was the stablished.

![imagen](https://user-images.githubusercontent.com/75331117/132102310-4ce0cf90-86ae-4172-abe1-b8be4eb5d975.png)

[2021-09-04 17:44] SkepticMystic commented on #124
Ahh I see! I'm not familiar with that as a "standard". I know pandoc uses it, and some other tools, too. But I don't think it's treated differently in Obsidian (the way `tags` or `alias` is).
I think showing the `alias` of a note is a reasonable FR. I suppose this could pretty easily be extended to show the `title` instead

[2021-09-05 01:30] brimwats opened #125 "Failing to Install on Mobile"
I got an update failure so I tried uninstalling/reinstalling but now it's failing to install period 🤔

[2021-09-05 05:00] SkepticMystic commented on #125
Hmmm ok.. I suspect this is an issue with the latest release not building properly (again...), not with mobile specifically.
Thanks for noting this, I'll push a new one later today and check that it works

[2021-09-05 07:12] SkepticMystic commented on #125
@brimwats can you try out the latest release and let me know if you still face this issue?

[2021-09-05 10:20] brimwats commented on #125
works now! thanks ☺️

[2021-09-05 10:20] #125 closed

[2021-09-05 20:00] swehba commented on #91
Thanks.

[2021-09-06 03:44] vizance opened #126 "Fail to use "create a global index to the clipboard" and "write breadcrumbs to current file""
Hello,

I try to use "create a global index to the clipboard" and "write breadcrumbs to current file" but fail. Below are the detailed error logs.

I have no idea why these errors happen...

Thank you.

## create a global index to the clipboard

<img width="555" alt="CleanShot 2021-09-06 at 11 38 18@2x" src="https://user-images.githubusercontent.com/29624657/132157410-37d63c2b-b1aa-422f-9d95-81ffb

[2021-09-06 06:57] SkepticMystic commented on #126
@vizance thanks for the issue report!

1. For the Create Index function, where are you running it from? I think that error happens when you aren't focused on a markdown note (you can't be focused on the graph view, for example).
2. You have to have the MetaEdit plugin enabled for that feature to work. I should add a notice for that. Thanks for checking :)

[2021-09-06 08:30] tinyheero commented on #118
Hi @SkepticMystic,

I am having the exact same issue. It used to work, but somewhere along the way of the updates it is no longer giving me any breadcrumbs. I am currently running:

* Obsidian version: 0.12.15
* Breadcrumbs version: 0.10.61

The developer's console isn't revealing anything strange either as it just says "loading breadcrumbs plugin".

[2021-09-06 08:32] SkepticMystic commented on #118
Hey @tinyheero :)
Do you get any errors when pressing Refresh Index?
If not, can you enable Super Debug Mode, then Refresh Index, and see if you get any errors in the nested console logs

[2021-09-06 09:16] tinyheero commented on #118
Hi @SkepticMystic,

Thanks for the reply :)

No errors from what I can see. I've attached two screenshots:

1. Showing it in edit mode with `parent: ` in the YAML file

    ![edit_mode](https://user-images.githubusercontent.com/3268173/132192383-1c9d306d-444b-4a91-b488-a0d1dd0f30c8.png)

2. Showing it in preview mode with the "This note has no real or implied parents" text:

    ![preview_mode](ht

[2021-09-06 09:47] vizance commented on #126
@SkepticMystic thanks for your response.

Below are my error logs.

I focus on a markdown note and run the command agin but still fail. Below is the error log.

<img width="551" alt="CleanShot 2021-09-06 at 17 46 36@2x" src="https://user-images.githubusercontent.com/29624657/132197336-194d49fa-04af-4237-9f34-53f5628c0929.png">

<img width="394" alt="CleanShot 2021-09-06 at 17 44 33@2x" src="https:

[2021-09-06 09:51] SkepticMystic commented on #126
Both of those errors come from `currGraphs` being undefined. Which usually means you just need to Refresh Index and try again.
Can you let me know if that works?

[2021-09-06 09:58] SkepticMystic commented on #118
Hmmmm ok, everything looks fine there.
Can you send me the content of the `data.json` file in the `{Vault}/.obsidian/plugins/Breadcrumbs/` folder. (It's just your settings all in one place)

[2021-09-06 10:00] tinyheero commented on #118
Here it is:

[code]

[2021-09-06 10:02] SkepticMystic commented on #118
Oh yeah, there's the problem! 😅 you need to set up your hierarchies first. You can read about that in the wiki [here](https://github.com/SkepticMystic/breadcrumbs/wiki/Hierarchies).
Let me know if you come right

[2021-09-06 10:26] tinyheero commented on #118
Ah I am a fool!

I don't recall having to do this before. Or maybe I did, deleted it, and I completely forgot about it. In any case, it works now!

Thanks so much. Enjoy the much deserved coffee (https://Ko-fi.com/home/coffeeshop?txid=e8812933-7fe2-49a3-9492-9d29a350bb08&mode=public&img=ogiboughtsomeone) :)

[2021-09-06 10:33] SkepticMystic commented on #118
The multiple hierarchies feature is still relatively new, and it was a breaking change, so that's understandable!
Glad it's working again though :) and thank you for the support!

[2021-09-06 10:34] #118 closed

[2021-09-06 13:54] vizance commented on #126
Hi @SkepticMystic

I've refreshed index and try again, but found there is no reaction or error log when I use `write breadcrumbs to current file ` and `Copy a Global Index to the clipboard` now.

I just recorded a gif.

![CleanShot 2021-09-06 at 21 49 50](https://user-images.githubusercontent.com/29624657/132227545-d334a664-bc85-4bc5-8946-751031e0a289.gif)

Should I open Super Debug Mode ?

note :

[2021-09-06 14:51] veradrawer opened #127 "Bug: file listings in matrix view are in desc order"
The elements listed in the matrix view appear in descending order, I don't know if this is intended but I was told to post it here.

![imagen](https://user-images.githubusercontent.com/75331117/132234647-f2658d42-516e-4059-a8ec-1d8e2ac3f1e6.png)

Thanks as always!

[2021-09-06 16:26] SkepticMystic commented on #127
Haha for now, the entries are not sorted.
I _think_ they appear in the same order that they appear in the note

[2021-09-06 16:28] SkepticMystic commented on #126
@vizance can you message me on Discord. It'll be easier to work from there. My handle is @SkepticMystic there too :)

[2021-09-07 00:59] vizance commented on #126
hi @SkepticMystic

Just send a DM to you on Discord : )

[2021-09-07 10:00] HEmile opened #128 "FR: Only use chosen fields in the grid"
In my vault, the Breadcrumbs grid can very quickly be very large. I was wondering if it possible to only choose certain hierarchies to show the grid over. For example, I have a 'subset' hierarchy that is really about deep hierarchies that I'd like to show, while I have other relations that are more useful on a smaller scale in the Breadcrumbs matrix.
This could be done using a checkbox in the Hier

[2021-09-07 16:57] SkepticMystic commented on #126
Gonna close this out, fixed it over Discord.
Thank you for the bug report :)

[2021-09-07 16:57] #126 closed

[2021-09-08 03:02] BricoleurSoul opened #130 "FR: Only us selected fields when Writing Breadcrumbs to Current File"
For the proposed auction,  Use a comma-delimited field (or checkbox) to define which hierarchies  to "Write Implied Breadcrumbs to the current file"

For example, if A has parent: [[B]], then this feature would write the following to B when run:

---
child: ['A']
---

**IF AND ONLY IF** for parent: [[B]] there is an entry in the Hierarchies setting indicating that auto updating of the YAML field s

[2021-09-08 11:30] SkepticMystic commented on #128
Keeping my thought process here:
1. Use `getAllFieldGs` to get the checkbox selected graphs
2. Because this will stay relatively constant, just store the merged subset of graphs in the index as normal
3. If the checked boxes change, then Refresh Index will detect that and remerge the selected graphs!

[2021-09-08 12:05] veradrawer commented on #128
Could this be possible for only certain relationships? While I always benefit from knowing who is the parent of an entry, I'm not always interested in knowing what are the siblings.

[2021-09-08 13:33] SkepticMystic commented on #128
I will definitely add that flexibility! It will let you choose specific fields within each hierarchy, instead of being limited to entire hierarchies

[2021-09-08 15:37] SkepticMystic commented on #130
Very much agree with this functionality.
I will make it more granualar to choose specifc fields within each hierarchy, as opposed to entire hierarchies

[2021-09-08 15:43] SkepticMystic commented on #25
Using this syntax would create ambiguity. Is `Index, Upper` referring to two notes: `Index` and `Upper`, or one note with a comma in it? `[[Index, upper]]`?
I think there are enough ways to write the syntax, and this change would be breaking.

[2021-09-08 15:43] #25 closed

[2021-09-08 16:03] #65 closed

[2021-09-08 16:03] #75 closed

[2021-09-08 16:07] SkepticMystic commented on #111
The base functionality for this has been implemented. There are other FRs for further stuff

[2021-09-08 16:07] #111 closed

[2021-09-08 16:08] stefanopagliari commented on #75
Apologies for not seeing this before. I must have set my notifications wrong because I only got an email when you closed this, not after your previous message

[2021-09-08 16:12] SkepticMystic commented on #127
I'm gonna close this as the FR for sorting already exists: #92

[2021-09-08 16:12] #127 closed

[2021-09-08 16:13] SkepticMystic opened #133 "FR: Write Breadcrumbs to ALL Files"
Command to `Write Breadcrumbs to Current File` but for all files at once

[2021-09-08 16:19] SkepticMystic commented on #75
@stefanopagliari ahh no worries!
Do you still have this issue? After testing on my side initially, it seemed to work fine

[2021-09-08 16:45] SkepticMystic commented on #115
Can confirm, finally working!

[2021-09-08 16:45] #115 closed

[2021-09-08 19:21] SkepticMystic commented on #128
@veradrawer I and Emile can confirm the proof of concept is working in 0.10.66.
I'm gonna keep this issue open for inevitable bugs though!

[2021-09-08 19:48] SkepticMystic commented on #133
Added in 0.10.67

[2021-09-08 19:48] #133 closed

[2021-09-08 19:57] stefanopagliari commented on #75
I had actually changed my workflow so that I did not rely anymore that.

[2021-09-09 06:24] SkepticMystic commented on #130
I should be able to add this quite easily given the issue #128 was relatively simple to implement

[2021-09-09 06:43] enjolrs opened #134 "V. 10.67 broken"
The latest update seems to have broken something at the plugin. I'm attaching the console log in case it helps.
[obsidian.md-1631169609500.log](https://github.com/SkepticMystic/breadcrumbs/files/7134081/obsidian.md-1631169609500.log)

[2021-09-09 10:37] veradrawer commented on #128
I''m currently getting this. Does it hide all fields from the hierarchy?
![imagen](https://user-images.githubusercontent.com/75331117/132671176-bdba3605-3d0a-4291-8d69-6847deb156d6.png)

[2021-09-09 11:44] SkepticMystic commented on #128
@veradrawer It only shows parent fields, as those are the only relationships shown in the trail (it still adds implied parents though, using the children)

[2021-09-09 13:34] SkepticMystic commented on #134
@enjolrs weird... I've not seen that error before about unit locals...
I think that is an issue with dataview.
Do you use dates in dataview fields?

[2021-09-09 16:15] enjolrs commented on #134
You're right! I turned off dataview and the hierarchies from the hierarchy note still exist.

Sorry to keep bothering you, I'm not a programmer so I'm never sure which plugin is causing issues.

[2021-09-09 16:28] enjolrs commented on #134
And it seems to have been fixed! Sorry again for the bother.

[2021-09-09 16:28] #134 closed

[2021-09-09 18:32] SkepticMystic commented on #134
No worries, glad to hear it's working again!
It isn't always obvious where the error comes from

[2021-09-10 08:01] SkepticMystic commented on #130
@BricoleurSoul added in 0.10.69. Will you let me know if it works for you as expected?

[2021-09-10 11:55] SkepticMystic commented on #124
@veradrawer I've implemented this in 0.10.70! There is now a setting under `General Options` to give a list of field names to check for as aliases or titles. Let me know if this works as intended :)
Currently, it only applies to the l/m view, not the trail/grid view

[2021-09-10 19:01] BricoleurSoul commented on #130
test with a new hierarchy set up specially for the purpose ... and three notes created especially for purpose
(the Bric's Belt and Suspenders Safety rule)
and all instances worked exactly as intended (up | sideways| down) values all updated in YAML when write called from command prompt for each of the three records...

[2021-09-10 19:06] BricoleurSoul commented on #130
Thanks for the granularity!

[2021-09-11 04:50] SkepticMystic commented on #130
Good stuff :D
I'll keep this issue open a little longer, but I think it should just be working.

[2021-09-23 17:47] BricoleurSoul commented on #130
I think you can close issue - two weeks now and no issues found! Thx.

[2021-09-23 17:49] BricoleurSoul commented on #128
this seems to work well in my testing! If Emile concurs perhaps time to close this issue?

[2021-09-23 18:22] #130 closed

[2021-09-23 18:22] SkepticMystic commented on #128
I got confirmation from Emile via Discord, gonna close this out :)

[2021-09-23 18:22] #128 closed

[2021-09-23 18:23] #124 closed

[2021-09-27 05:30] link-ding opened #135 "Thebrain-like view"
The Breadcrumbs plugin is very similar to thebrain in its concept of building relationships between different knowledge through parents, children, and siblings. So I hope you can add a visualisation View similar to thebrain. What Thebrain's visualisation view is shown below. Thanks for creaing this amzing plugin. I have been waiting this for a long time.

![image](https://user-images.githubusercon

[2021-09-27 05:48] SkepticMystic commented on #135
Hey @link-ding, thanks for the post.
If I'm understanding correctly, this is the same information that's already shown in the [list/matrix view](https://github.com/SkepticMystic/breadcrumbs/wiki/Relationships-Implied) (see the image in the link), just visualised in a different way?

[2021-09-27 06:09] link-ding commented on #135
Thanks for quick reply!! Yes that is what I am talking about.

[2021-09-30 01:07] vitaly opened #136 "Bug: Nodes are added using their basename instead of path. Conflict ensues"
I have several `journal` directories, one per client

this plugin mixes the notes from different journal, but sharing the same file namr

e.g if I have `Client A/journal/2021-10-01` that sets `client:: [[Client A]]` and `client B/journal/2021-10-01` that sets `client:: [[Client B]]`, then both of those notes will have both clients as their `project` (Real).

I enabled the debug logs, and from the

[2021-10-02 16:07] brimwats opened #137 "FR: Show NTs and RTs in note"
I have a landing page that all my notes point to:
![image](https://user-images.githubusercontent.com/49103046/135724091-d24fe5d3-097f-4dd9-98c6-460fe12b28b9.png)

it does say `This note has no real or implied parents ` which is right, but i would love to see the Real NTs and RTs "in-note" and not just in matrix view if possible. Can they be allowed into notes via a toggle or something?

[2021-10-02 16:28] SkepticMystic commented on #137
Interesting...
How would they look in the path view?
As an alternative, how about a dataview query?
[code]

[2021-10-02 16:40] brimwats commented on #137
dv would work, i just hardly use or understand it 😅

i'm thinking about this and the more I do the more I think it might not be possible or it would be out of scope. originally I thought something like
![image](https://user-images.githubusercontent.com/49103046/135725228-c16b701a-7197-4976-a019-b04555f167a7.png)

but that might be weird!

[2021-10-02 16:53] SkepticMystic commented on #137
@brimwats does this plugin do what you're looking for? :)
https://github.com/Robin-Haupt-1/Obsidian-Map-of-Content

[2021-10-03 03:17] pdlife opened #138 "FR: Point to a folder of hierarchy notes to read all of them, instead of writing out each hierarchy note name individually"
"Hierarchy Note(s)
A list of notes used to create external Breadcrumb structures."

About this setting.

I think it would be better to apply to all notes, or set all notes in a folder. So that it can determine the parent and child of a note through the list. Instead of "parent:: [[]], child:: [[]]"

[2021-10-04 12:24] HEmile opened #139 "Filter duplicates in implied siblings"
If there are multiple paths that show two notes are implied siblings, that sibling shows up multiple times in the Breadcrumbs matrix. This happens for instance when multiple authors write multiple papers together. This clutters up the matrix. Ideally, one would only see a single appearence.

![image](https://user-images.githubusercontent.com/1289165/135850648-5d9f3c53-63ff-4bb4-aa1a-65a6b007e20b.p

[2021-10-04 12:32] SkepticMystic commented on #139
Thanks Emile. I see where the issue is in the code, just need to think of a good way to fix it

[2021-10-04 14:57] brimwats commented on #137
it might! thanks

[2021-10-04 14:57] #137 closed

[2021-10-06 08:04] HananoshikaYomaru opened #140 "[feature request] Support custom formatter for "writeBCtoFile""
Current WriteBCtoFile create the properties in metadata. In this way, the links don't work on graph view. I want to generate the breadcrumbs that make it work for graph view. I am not sure if such an operation exists now but I think a custom formatted will solve it.

[2021-10-08 13:02] iris2jane opened #141 "Link to csv"
Thanks for this great work. However, I want to avoid creating too many markdown files during use. Can direct connection to CSV be supported? As shown in the figure below, (I'm not sure about the feasibility of this idea😂)
![Drawing 2021-10-08 20 12 46 excalidraw](https://user-images.githubusercontent.com/36763930/136561472-5f0b9613-d1fa-4ab2-83f5-67f5b2fa0a47.png)

[2021-10-08 13:15] SkepticMystic commented on #141
Ohhhh interesting! Haha this would work really well with my [metadataframe](https://github.com/SkepticMystic/metadataframe) plugin!
I'll give it a try, I don't think it should be too difficult, actually.
I'll make it so that you supply a file path to a csv in your vault, then I read that file and add any links to the Breadcrumbs graph.
I will use the existing hierarchies you have set up to grab th

[2021-10-08 15:53] SkepticMystic commented on #141
@iris2jane can you test this out in 0.10.73 😄
It's kinda delicate for now.
- You give it the path to a csv file in your vault, then it adds those crumbs to the hierarchy (the setting is found under `Settings > General Options`).
- You have to have a column called `file` with the note name in it (not the path, and don't add `.md`)
- Then each other column must be a filed name from your hierarchies.

[2021-10-08 18:15] BricoleurSoul opened #142 "Bug: 10.74 breaks matrix/list and breadcrumbs"
Neither breadcrumbs nor matrix/list panel show entries after upload of 10.74.  Sorry just caught but unable to do detail study until late this evening.... restore to 10.73 and all works. Does the new entry for csv path have to have value even if not using the feature?

[2021-10-08 21:49] Victor-IT commented on #142
Yup, noticed this behavior right after the update.

[2021-10-09 06:31] jundaychan commented on #142
same here

[2021-10-09 10:04] SkepticMystic commented on #142
Thanks everybody. Sorry for the trouble. I haven't been able to work on it yet. Can someone please check if there are any errors in the console when this happens?

[2021-10-09 11:53] #142 closed

[2021-10-09 11:54] SkepticMystic commented on #142
Oops, this got closed automatically.
@BricoleurSoul @gfidias @jundaychan @Victor-IT can you let me know if this is resolved in 0.10.75?

[2021-10-09 13:37] gfidias commented on #142
resolved 👍

[2021-10-09 17:29] BricoleurSoul commented on #142
Haven't tested the new functionality yet, but the issue in 10.74 certainly resolved.

[2021-10-14 07:31] HananoshikaYomaru opened #143 "FR: Quick "insert" and "remove" command in the hierarchy notes"
I used hierarchy notes to organize my tree. There is a problem when my notes get complicated. I think it would be nice if I can call a command such that I can search through the hierarchy and pick a proper position to `insert` the current notes.

Same for the `remove` command.

[2021-10-21 03:52] HananoshikaYomaru opened #144 "FR: Show all notes that are not in the hierarchy"
I have thought to use a graph filter to filter the notes that are not linked to my hierarchy notes but as the number of hierarchy notes increases, this becomes not feasible.
Any thought to achieve this?

[2021-10-21 06:10] SkepticMystic commented on #144
Hey :)
I guess you can use the Dataview plugin for this! If you field names are `up`, `same`, `down`, then the following dataview query will show notes not connected to your hierarchy (or atleast most of them):

[code]

[2021-10-28 18:59] nicolasmarc1 opened #145 "FR: Show more clearly how to open the graph by adding a palette command and/or changing the icon"
As requested on Discord, I'm adding this FR to find ways to show more clearly how to open the graph by adding a palette command and/or changing the icon (right not the dice icon is not really helping to find the feature).
Thanks

[2021-11-01 13:44] SirSceptalot opened #146 "plugin is inactive until manually refreshed"
The plugin doesn't show the breadcrumb navigation bar or any content in the breadcrumbs matrix side pane until the "Refresh Index" button is used.

Note from SkepticMystic on Discord:

[2021-11-02 10:14] sudotachy opened #147 "FR: Displaying node names in breadcrumb visualization view."
It would be great to have the same viewing functionality as the obsidian graph in relation to the names displayed.
1 - when you minimize the view, the names of the nodes disappear, but reappear when you "zoom in"
2- when in the "minimized view" the names disappear, but when hovering over the nodes, names of the particular file (currently present) as well as the all the names of the connected nodes

[2021-11-03 09:45] SkepticMystic commented on #146
@SirSceptalot can you please check on 0.11.0 if this still happens :)

[2021-11-04 15:30] gfidias opened #149 "SharedArrayBuffer usage is restricted to cross-origin isolated sites"
Breadcrumbs (v0.11.3) stopped working.

I don't know if it's relevant but I get this issue:
SharedArrayBuffer usage is restricted to cross-origin isolated sites

Affected resources
source location: scheduler.development.js:298
trigger: Instantiation
status: warning

Uninstalling breadcrumbs, the issue disappears.

The only error that appears in the console when I refresh the index:

VM692:26481 Ty

[2021-11-04 19:16] SkepticMystic commented on #149
Thanks @gfidias. Can you try out 0.11.4 and let me know if that works

[2021-11-04 19:47] gfidias commented on #149
No, unfortunately, I get the same issue and the same error.

[2021-11-05 10:15] SirSceptalot commented on #146
I've tested on various machines, and don't see this happening anymore.
Top notch!

[2021-11-05 10:15] #146 closed

[2021-11-05 12:35] ben1mit opened #150 "Breadcrumb trail on top of file not updating [bug?]"
Updates are not reflected in the breadcrumbs trail, and it still shows "this note has no real or implied parents".
It updates correctly in the panel to the right. Closing and reopening the file did not help.
Everything has previously worked correctly for some of the other notes in the hierarchy

<img width="1363" alt="Skjermbilde 2021-11-05 kl  13 17 15" src="https://user-images.githubusercontent.

[2021-11-05 13:04] SkepticMystic commented on #150
Thanks ben1mit. The new release definitely has some bugs, but I'm struggling to pin them down. Do you get any errors in the console? (`Ctrl + Shift + I`).
Otherwise, I recommend downgrading till I can fix it

[2021-11-05 16:59] gfidias commented on #149
Found the conflict:
Breadcrumbs is working when dataview is disabled.

[2021-11-05 17:54] BricoleurSoul opened #151 "FR - allow multiple instances of hierarchy item in given note where instances are on separate note lines [bug? see issue 150 ]"
Currently a construct such as :

-  author:: [[Irving Powless]] [[Lesley Forrester]]

works as intended while the construct below fails as author no longer shows in Matrix:
-  author:: [[Irving Powless]]
-  author:: [[Lesley Forrester]]

nb. this is obviously trivial example, it is more important where there are notes where the desire is to have, for example, multiple containers referenced in subs

[2021-11-06 06:47] #149 closed

[2021-11-06 06:49] gfidias opened #152 "Breadcrumbs - Dataview conflict"
(cntd from #149)
Breadcrumbs not working when dataview is enabled.

[2021-11-06 07:28] Thaza-Kun commented on #150
I also experience similar issues. Breadcrumbs totally not showing on my reading notes where I have multiple parents but it shows up on my index notes where there is only one. (I checked other reading notes, it shows up if it have one parent).

![Obsidian_9KKo6VFLjA](https://user-images.githubusercontent.com/61819672/140601461-908b827c-13da-4cd7-bd99-fc30990a03a7.png)
Fig 1: No breadcrumbs

![Obsid

[2021-11-07 21:03] jakeoung commented on #141
Any news for this feature!?

[2021-11-08 15:50] zcysxy opened #153 "Bug: About Inline Dataview Field Separator"
When I try to assign a note with multiple parents, `parent:: [[A]] [[B]]` works but `parent:: [[A]], [[B]]` doesn't. Seems like the separator `,` breaks something.

[2021-11-09 12:21] gfidias commented on #152
Conflict with dataview still there after updating to breadcrumbs v0.11.6.

[2021-11-10 07:44] SkepticMystic commented on #153
@zcysxy can you test out 0.11.7 and let me know if this issue is fixed :)

[2021-11-10 07:45] SkepticMystic commented on #152
@gfidias @veradrawer can you test out 0.11.7 and let me know if this issue is fixed :)

[2021-11-10 07:47] SkepticMystic commented on #150
@ben1mit @Thaza-Kun can you please test 0.11.7 and let me know if this is resolved :)
There was a significant change to how Dataview returns results from its API, so I've had to add in some extra wrangling steps, but seems to be working on my end

[2021-11-10 07:48] BricoleurSoul commented on #151
Works in my use case with Release 11.7 - Thank you!

[2021-11-10 07:48] #151 closed

[2021-11-10 09:30] ben1mit commented on #150
upgraded to 0.11.8 (the latest available from obsidian menu), and the exact same issue is present.
For some reason the console doesn't open when I hit Ctrl + Shift + I, so I find it difficult to show you error messages.
the problem is also present when just linking in the yaml frontmatter.

[2021-11-10 10:42] gfidias commented on #152
Working 👍

[2021-11-10 10:51] #152 closed

[2021-11-10 15:47] Thaza-Kun commented on #150
@SkepticMystic, I have updated to 0.11.8. The Breadcrumbs path has now rendered correctly on my end. Thank you for the fix.

![image](https://user-images.githubusercontent.com/61819672/141145189-2267d9d1-d7c1-4232-b915-5f1ca5f6efc9.png)

[2021-11-10 16:22] SkepticMystic commented on #150
@ben1mit thanks for the feedback. I'd really need to see what errors appear to be able to fix this issue. Maybe try again another time and see if the console appears.

[2021-11-10 17:35] zcysxy commented on #153
@SkepticMystic Yeah it's fixed, thanks for the quick fix!

[2021-11-10 17:35] #153 closed

[2021-11-10 23:37] ben1mit commented on #150
using cmd + alt + I did the trick for opening  the console.
The  case is still that it shows up fine in the matrix/list view, just not in the trail view.
I get this error message, hope it is of any help in solving the issue:
<img width="520" alt="Skjermbilde 2021-11-11 kl  00 34 45" src="https://user-images.githubusercontent.com/48367359/141210581-31aaaff2-ae0d-4f15-9458-e583ce1f3463.png">

[2021-11-10 23:45] ben1mit opened #154 "FR: Set all outgoing links of note as children"
I currently use a set of index notes to keep a hierarchical order to my notes.
It would be very nice if it were possible to just add one field in the frontmatter of these notes saying that all links from this file are to be considered its children. (and ignore headings and other text).
Having a field in the settings in which you can list these kind of index notes would also do the trick.
All the i

[2021-11-11 04:42] SkepticMystic commented on #150
Thanks! That's helpful. You see where it says `VMI:961:37905`? Can you click that and send a screenshot of what appears? that'll tell me exactly where the code bugs out

[2021-11-11 09:34] ben1mit commented on #150
This is what appeared when I clicked VM961:37905:
<img width="700" alt="Skjermbilde 2021-11-11 kl  10 18 07" src="https://user-images.githubusercontent.com/48367359/141271531-db61f305-5a9d-41c3-b6f2-11757734e229.png">

This is strange, seeing as I actually have an  index note:
<img width="629" alt="Skjermbilde 2021-11-11 kl  10 19 31" src="https://user-images.githubusercontent.com/48367359/1412717

[2021-11-14 00:55] mikkovedru opened #156 "Feature request: 2 more hierarchy types - previous and next"
Sometimes I not only need to indicate that 2 notes are siblings, but to also indicate the order of their relationship, that one comes before the other.

Examples:
- With actual people. Especially historical figures.
- With historical events.
- With various processes with stages (it's important in which order black widow handles the husband business)
- With notes and books. It's important to indica

[2021-11-14 18:43] brimwats opened #157 "FR: Show on live preview mode!"
It could be that I have some setting wrong, but I was looking for breadcrumbs to show up on live preview mode. :)

[2021-11-15 10:11] HEmile commented on #156
That is an interesting idea! I would probably appreciate this as well. Am i right in understanding you would like to define partially ordered relations? https://en.wikipedia.org/wiki/Partially_ordered_set

[2021-11-15 17:44] joellti opened #158 "Mobile version not working"
It appears the mobile version (0.11.8) of this plugin is not working for me. As soon as I click "Refresh Index", I got following error logs in developer tool's console. I set up a test vault with only two notes in it (one as parent and the other as child) and I got the same result. The desktop version works well so I hope the same for mobile version because I have the same vault synced on both pla

[2021-11-15 18:01] joellti commented on #158
Did another test with version 0.10.75 on mobile (Android) and it's working so I guess it stops working somewhere between 0.10.75 and 0.11.8. Just FYI

[2021-11-15 18:09] SkepticMystic commented on #158
Thank you @joellti :)
Indeed, the versions between those two were all filled with bugs! There was a change in the way Dataview returns data, so I had to account for that

[2021-11-15 18:15] joellti commented on #158
No problem, if you need me to collect any additional data feel free to let me know :)

[2021-11-18 00:41] mikkovedru commented on #156
It's kinda up to the design choices on what kind of order/preorder set to make, how easy or complicated. Like, one of the complications is that there is a state of partial information: the breadcrumbs plugin doesn't require every note to have every possible relation defined (and is inferring some relations) nor does it have the functionality of inferring a relation and updating all the appropriate

[2021-11-18 05:40] SkepticMystic commented on #156
I definitely intend to add this feature :)
I'm working on a big internal refactor atm, and I got slowed down by the change in Dataview. But I'll get to this and other FRs

[2021-11-18 12:12] SkepticMystic commented on #156
@HEmile @mikkovedru @bricoleurSoul This has been implemented in the latest beta release!!
It is a breaking change, so you will need to reset your hierarchies in the settings and add them back again.
Let me know if you're open to testing it out on your side 🙂 You just need to manually install the latest release from this branch here: https://github.com/SkepticMystic/breadcrumbs/releases/tag/1.0.5

[2021-11-18 12:17] SkepticMystic commented on #150
@ben1mit can you please check the latest version and see if this still occurs

[2021-11-18 12:39] ben1mit commented on #150
The latest version available from the plugin menu seems to be 0.11.8, which is the same as the one I tested previously.
If you release a newer version I can upgrade and test wether it works

[2021-11-18 18:15] BricoleurSoul commented on #156
All ready volunteered in private thread in discord (you come before my email 😏) so that is definite “I’m all in” …

David
On Nov 18, 2021, 4:12 AM -0800, SkepticMystic ***@***.***>, wrote:

[2021-11-18 22:06] natalie-foust opened #159 "Hierarchy notes prevent a successful index refresh"
I've been having a major problem with hierarchy notes that seems to have persisted for a while (I recently upgraded from 0.10.75 to 0.11.8 and am having the problem in both versions). Bascially, my hierarchy notes seem to reach a point where **if I add one more note to my hierarchy notes, Breadcrumbs cannot refresh its index.** Once I remove the new note I can instantly refresh again. This happens

[2021-11-19 09:28] SkepticMystic commented on #92
@bodiequirk @veradrawer if you want to test out the beta version, I have added the ability to sort items in [1.2.0](https://github.com/SkepticMystic/breadcrumbs/releases/tag/1.2.0).
Note, if you are still on `0.11.x`, this _may_ be a breaking change. If you get any errors, first ping me here or (preferably) on Discord `@SkepticMystic`, and I can help troubleshoot it :)

[2021-11-19 09:57] SkepticMystic commented on #136
There is sort of a limitation here, you see.
I only have as much information as is in the wikilink brackets `[[info]]`. So if I only know that `date:: [[2021-10-01]]`, then that's all I've got to go off of.
There is an option to have the full file path in the brackets, which is something I can try account for. But this will take me some time to work out the kinks

[2021-11-19 09:59] SkepticMystic commented on #138
Hey @pdlife :)
I'm not sure I understand. Hierarchy notes do this: https://github.com/SkepticMystic/breadcrumbs/wiki/Hierarchy-Notes, right.
Are you instead asking for something like #112?
Or something completely different?

[2021-11-19 10:01] SkepticMystic commented on #139
@HEmile does this still happen? I think I addressed it

[2021-11-19 10:02] SkepticMystic commented on #140
I think I'll add the option to write to file as a Dataview inline field. It will just be added directly under the yaml (or at the top of the note if there is no yaml)

[2021-11-19 10:04] chrisgrieser opened #160 "FR: Generate the Index like the MoC Plugin does"
The MoC Plugin basically generates its index purely via wikilinks already existing in notes. The trick is to define a central note, and the MoC plugin then creates a hierarchy based on shortest path(s) of a note the that central note.

I think a similar approach could be implemented by Breadcrumbs as well. The major advantage for this would be that it requires far less setup. I was thinking of usi

[2021-11-19 10:07] HEmile commented on #139
Pretty sure you did yeah. Can't remember noticing it for a while!

[2021-11-19 10:47] #139 closed

[2021-11-19 11:10] SkepticMystic commented on #141
@jakeoung @iris2jane if you are willing, I think I've fixed this feature in the latest beta release found [here](https://github.com/SkepticMystic/breadcrumbs/releases/tag/1.3.1). You will have to manually install it, and it is **entirely possible** you experience some other bug due to the large number of changes that have occurred elsewhere.
Let me know if you need help setting it up, otherwise I'

[2021-11-19 11:12] SkepticMystic commented on #143
I think I get what you're looking for.
I'm not exactly sure how this would work though. So you have your hierarchy note open, you run the cmd, and then what?

[2021-11-19 11:22] HananoshikaYomaru commented on #143
Maybe I explain it this way. I am using hierarchy notes to organize my breadcrumb but I am looking for a way to insert my current note to the tree WITHOUT opening the hierarchy note. I have around 20 hierarchy notes and each hierarchy note is big. I don't want to go into the file and disturb my workflow just to insert a note.

This might sound a bit contradictory. But I think hierarchy notes are b

[2021-11-19 12:03] SkepticMystic commented on #144
This is working in 1.4.0!
There is a new "Ducks View" which shows notes not in the hierarchy.
It doesn't open by default, so you have to run the cmd to open it

[2021-11-19 12:10] SkepticMystic commented on #150
@ben1mit ahh right, sorry.
There is a beta version of [1.4.0](https://github.com/SkepticMystic/breadcrumbs/releases/tag/1.4.0) out. You can manually install it from there if you want to try. Be warned, you _might_ need to reset your hierarchies to get everything working, as it was a breaking change in some cases

[2021-11-19 12:12] SkepticMystic commented on #158
Thanks alot @joellti  :)
I've been working on a whooole bunch of changes in a new beta release.
It would be great to hear your experience if you're willing to try it!
You'll have to manually install from [here](https://github.com/SkepticMystic/breadcrumbs/releases/tag/1.4.0). You can read the changelog for this branch over [here](https://github.com/SkepticMystic/breadcrumbs/blob/nextPrev/CHANGELOG

[2021-11-19 12:13] #158 closed

[2021-11-19 12:14] SkepticMystic commented on #160
Haha Breadcrumbs is actually very well set up to do this already!
There is already a setting to define a "Central Note" 😋
I'll definitely work on this

[2021-11-19 12:32] SkepticMystic commented on #143
Yes, that would be ideal, to have everything all synced up... I could try doing that sometime

[2021-11-19 13:42] joellti commented on #158
Yes I tried 1.1.1 yesterday and unfortunately it's still not working on mobile. I didn't capture the console logs this time but the behavior is the same as with 0.11.8.

[2021-11-19 13:59] joellti commented on #158
Just tried 1.4.0 and it fails to be enabled with following console error logs:

app.js:1

       Plugin failure: breadcrumbs SyntaxError: Unexpected token '?'
    at eval (<anonymous>)
    at app.js:1
    at t.<anonymous> (app.js:1)
    at app.js:1
    at Object.next (app.js:1)
    at s (app.js:1)
(anonymous) @ app.js:1
(anonymous) @ app.js:1
(anonymous) @ app.js:1
a @ app.js:1
Promise.then (async

[2021-11-20 01:45] HananoshikaYomaru commented on #138
@pdlife If you want to put store hierarchy notes in a folder you need to specify the path to the folder such that the names of different notes won't be mixed up. For example,

`hierarchy/obsidian, hierarchy/javascript, hierarchy/mathematics, hierarchy/Root, hierarchy/awesome books, hierarchy/Computer Science`

I write a script to automatically generate the hierarchy note string. Whenever I add a r

[2021-11-22 08:29] #101 closed

[2021-11-22 08:29] #102 closed

[2021-11-22 08:29] #140 closed

[2021-11-22 08:29] #145 closed

[2021-11-22 18:43] bodiequirk commented on #92
@SkepticMystic Ooh nice! I would be glad to help out. This is awesome. I have the beta running on my laptop anyways, so I will download the beta of Breadcrumbs and let you know how it works!

[2021-11-22 21:22] brimwats commented on #157
for the record/debugging, it *does* appear in transcluded LP notes:

![image](https://user-images.githubusercontent.com/49103046/142937065-947ace51-2ae9-4ab7-9353-19ea3c6acca3.png)

[2021-11-23 04:40] SkepticMystic commented on #157
Thanks for the FR Bri!
I'll definitely try do this now that the other features are out :)

[2021-11-23 05:49] mkasu opened #161 "Bug: NotFoundGraphError on first init"
In 1.7.8, I get this issue when Breadcrumbs first initializes (e.g., when restarting Obsidian) for the note which currently happens to be open. I think it tries to evaluate the graph before the init finishes.

<img width="989" alt="Screenshot 2021-11-23 at 14 43 53" src="https://user-images.githubusercontent.com/798036/142976697-549effe2-1468-4373-bb97-c94f0e53a600.png">

[2021-11-23 05:52] mkasu opened #162 "Bug: Incomplete trails in 1.7.8"
On many of my notes I see incomplete trails, especially when having multiple paths to the home note.

E.g., If theres two paths to the home note:
`A -> B -> C -> D`
`A -> B -> E`

It would display as
`C -> D`
`A -> B -> E`

It seems it fails to find the correct path at the merging point of multiple paths, and then only shows the last full path and the other ones being cut off.

[2021-11-23 08:44] HEmile commented on #157
I'd also be happy with the option to have it in the editor, not just the live preview :)

[2021-11-23 08:56] #157 closed

[2021-11-23 08:56] SkepticMystic commented on #19
@victor-IT @HEmile this is now optional (off by default) in 1.8.0 :)

[2021-11-23 08:56] #19 closed

[2021-11-23 08:57] SkepticMystic commented on #162
Thank you! Fixed in 1.7.9 :)

[2021-11-23 08:57] #162 closed

[2021-11-23 08:57] SkepticMystic commented on #156
Gonna consider this implemented. Please open new issues for specific bugs related to this feature :)

[2021-11-23 08:57] #156 closed

[2021-11-23 08:59] SkepticMystic commented on #157
@brimwats @HEmile this is working in 1.8.0 :)
Edit mode works alot better than live preview. You'll see there are some limitations in LP:
- Width is wider than readable line width
- Trail view is stickied to top of note, even when scrolling

I'll try iron these out, but the basic functionality is there.

[2021-11-23 09:00] SkepticMystic commented on #72
I believe this is now fixed

[2021-11-23 09:00] #72 closed

[2021-11-23 09:04] SkepticMystic commented on #99
@veradrawer after going over the code again, and considering the standards that Licat intends to implement, I don't think I'll add support for this syntax. There are alot of edge cases, and it will slow things down alot to now check for so many more possibilities in every file.
Also, I'd prefer to promote the `parent: ['Note']` syntax Licat wants to use

[2021-11-23 09:04] #99 closed

[2021-11-23 09:06] SkepticMystic commented on #138
@HananoshikaYomaru do you mind sharing the script? :)
Maybe I can add that as a feature!

[2021-11-23 09:06] SkepticMystic commented on #141
Update: The beta release I mentioned has been merged into main, so it is now fully available on the plugin list :)

[2021-11-23 09:07] #144 closed

[2021-11-23 09:08] SkepticMystic commented on #150
@ben1mit the beta has now been released publicly, so 1.8.0 is available on the community plugin page :)

[2021-11-23 09:10] SkepticMystic commented on #159
@natalie-foust Thank you very much for the bug report. I will try investigating this.
I have completely overhauled how hierarchy notes are processed under the hood, so could you try out 1.8.0 and let me know if this still happens? You can see all the changes in the wiki page [here](https://github.com/SkepticMystic/breadcrumbs/wiki/Hierarchy-Notes)

[2021-11-23 09:11] SkepticMystic commented on #147
Thanks @sudotachy, I can certainly try implementing this once I work on the Vis View again :)

[2021-11-23 09:12] SkepticMystic commented on #154
Thanks for the FR @ben1mit.
Can you please share an example of a note you use as an index? I don't quite understand the use case

[2021-11-23 13:24] #92 closed

[2021-11-23 13:56] Victor-IT opened #163 "Breadcrumbs trail not working after update to 1.8.1"
Seems it broken again after 1.8.1 update.

[2021-11-23 14:39] #69 closed

[2021-11-23 14:39] #112 closed

[2021-11-23 14:50] SkepticMystic commented on #112
@lkadre This is implemented in 1.9.0 :D

[2021-11-23 14:51] SkepticMystic commented on #163
Do you get any errors?
Do you have Live Preview enabled?
Can you try on 1.9.0 and let me know

[2021-11-23 15:55] SkepticMystic commented on #160
@chrisgrieser perhaps for the time being, this feature and the one below it can fill the gap for you!
https://github.com/SkepticMystic/breadcrumbs/wiki/Alternative-Hierarchies#folder-indexes

[2021-11-23 15:56] SkepticMystic commented on #113
@lkadre This is now possible in 1.10.1!
Check out the wiki page: https://github.com/SkepticMystic/breadcrumbs/wiki/Alternative-Hierarchies#tag-indices

[2021-11-23 15:57] #113 closed

[2021-11-23 17:30] Victor-IT commented on #163
See no errors alerts.
Tried both mode "live on/off"
Current 1.10.1 version don't work too.

[2021-11-23 17:51] Victor-IT commented on #163
Oh, found how to enable console to see errors.
![image](https://user-images.githubusercontent.com/26308124/143077790-e605fa03-d969-4061-9c19-1fc84e6a5217.png)

[2021-11-23 18:09] ben1mit commented on #150
wonderful! updated to the newest version (1.10.1) and it seems the problem is solved

[2021-11-23 18:09] #150 closed

[2021-11-23 19:22] SkepticMystic commented on #163
Ahh thank you, that error message helps alot.
I think it should be relatively simple to fix.

[2021-11-23 22:59] ben1mit commented on #154
Of course

For instance I have a note named "programming index" that contains everything related to programming
within that note I would have links to for instance the notes:
- toolchains index
- programming languages index
- programming projects index
- communication protocols index

within for instance the note "communication protocols" i would have links to notes about
- usart
- parallell bus
-

[2021-11-24 04:32] aidenlx opened #165 "Feature: Support folder notes defined in folder-note-core"
Excited to see the latest folder note feature! In [folder-note-core](https://github.com/aidenlx/folder-note-core), user can specify folder note to be an index file (name customizable), file inside/outside folder with same name, without manually set them in front matter. [alx-folder-note](https://github.com/aidenlx/alx-folder-note) is based on folder note core and can make folder acts as a regular

[2021-11-24 06:04] #163 closed

[2021-11-24 06:06] SkepticMystic commented on #163
@Victor-IT @BricoleurSoul I think this is fixed in 1.10.2. Hard to tell because I couldn't reproduce, but I now have a safety check to ensure this will ensure

[2021-11-24 07:01] Victor-IT commented on #163
Show in edit mode ON:
The title of the parent index note has been truncated.
![image](https://user-images.githubusercontent.com/26308124/143189645-28176d81-f5da-4308-9668-58a192427433.png)
![image](https://user-images.githubusercontent.com/26308124/143190001-ce555f1b-1f92-470a-8aa1-d00e7b662c62.png)

[2021-11-24 07:02] Victor-IT commented on #163
In both mode - trail not working in preview.

[2021-11-24 07:20] Victor-IT opened #166 "Bug: Trail in edit view is truncated in some cases"
Show in edit mode ON:
The title of the parent index note has been truncated.
![image](https://user-images.githubusercontent.com/26308124/143189645-28176d81-f5da-4308-9668-58a192427433.png)
![image](https://user-images.githubusercontent.com/26308124/143190001-ce555f1b-1f92-470a-8aa1-d00e7b662c62.png)

In both mode - trail not working in preview.
![image](https://user-images.githubusercontent.com/26

[2021-11-24 07:21] SkepticMystic commented on #166
@Victor-IT can you try 1.10.3

[2021-11-24 07:28] Victor-IT commented on #166
Yay! Works now in both mode. But in edit still truncated INDEX title
![image](https://user-images.githubusercontent.com/26308124/143193501-d6701547-7387-430c-99a3-b07d69ee849c.png)
![image](https://user-images.githubusercontent.com/26308124/143193724-c939f0b8-4dee-4159-b486-b6cfa4ca7dae.png)

[2021-11-24 07:29] SkepticMystic commented on #166
Good stuff!
About the truncation:
1. Do you have `Respect Readable Line Width` enabled under `Trail/Grid View` settings?
2. Do you have `Readable Line Width` enabled under Obsidian Editor settings?

[2021-11-24 07:36] SkepticMystic commented on #161
For now, I just make it silently fail, and return an empty Graph. So you still have to manually Refresh Index, but atleast no errors.
I'll still try come up with a better solution, though

[2021-11-24 08:11] Victor-IT commented on #166
Tried enable/disable these settings - no result. Truncation still in effect.

[2021-11-24 08:37] SkepticMystic commented on #166
Thanks for checking. I will have to investigate further

[2021-11-24 09:10] HEmile opened #167 "FR: Command for toggling trail/grid in edit/lp mode"
Hi! It is super useful to have the trail/grid in edit mode, but sometimes it is a bit too large and unpredictable in size in my vault. That gets in the way of editing. It would be great if (like backlinks in edit mode), there is a toggle using a command so it is quicker to change this option.

[2021-11-24 10:00] ben1mit commented on #154
it seems this feature request is quite similar to #160 which apparently is already functionality that exists.
considering that all my indexes are connected to a root index, setting this as my "central note/home note" would solve my issue/feature request.
However it seems I have some problems with doing that, since I get the message "alteast one of the notes is not in your vault" when I try to set

[2021-11-24 10:41] SkepticMystic commented on #167
Good suggestion! I can totally do that :)

[2021-11-24 14:34] SkepticMystic commented on #154
@ben1mit the original FR is now possible in 1.12.2. Simply add `BC-link-note: fieldName` to the yaml of a note, and all outgoing links from the note will be added to the graph with `currentNote -fieldName-> outgoingNote` :)

Please do add a bug report for the issue posted below. I will fix that

[2021-11-24 14:34] #154 closed

[2021-11-25 00:32] jakeoung commented on #141
Thank you so much! It works smoothly. I actually use md file instead of csv file, so that I can edit in obsidian. I'm sorry to ask for again lol, but could you consider supporting filenames with [[ ]] ?

For example, it also supports something like:
[code]

In implementation, maybe we can just remove [[ or ]] characters. The reason I ask for is that when I change the note title, it will automatica

[2021-11-25 04:25] SkepticMystic commented on #141
@jakeoung glad it's working!
Could you please add a separate FR for that :)

[2021-11-25 07:59] jakeoung opened #169 "In the link to csv, allowing filenames with [[ ]]"
For the linking to csv function, I actually use a md file instead of a csv file, so that I can edit in obsidian. Could you consider supporting filenames with [[ ]] ?

For example, it supports something like:
[code]

In implementation, maybe we can just remove [[ or ]] characters. The reason I ask for is that when I change the note title, it will automatically reflect the change (when my file is a

[2021-11-25 08:50] SkepticMystic commented on #169
This is now possible in 1.14.0 :)

[2021-11-25 08:50] #169 closed

[2021-11-25 08:52] #141 closed

[2021-11-25 10:04] ben1mit opened #170 "bug: trail not working in 1.14.0"
After I updated to 1.14.0 the trail is not showing up anymore. (just "this has no real or implied parents")
the view in the sidebar is working well.
After changing to trace mode, this is what happens in the console when attempting to draw the trail:

<img width="366" alt="Skjermbilde 2021-11-25 kl  11 03 03" src="https://user-images.githubusercontent.com/48367359/143420888-6992212e-47c4-4685-80c6-

[2021-11-25 10:07] ben1mit commented on #154
thanks. This is great, and I appreciate it.
After updating to 1.14.0  this works.

However I then got problems with the trail not showing up.
I submitted a new issue for that, #170

[2021-11-25 11:42] ben1mit commented on #166
I also have this issue, although only in preview

[2021-11-25 12:01] SkepticMystic commented on #170
Thanks for the detailed report. I'll have to see what's going on there... So you do get the `No Path Found` message, but it doesn't show parents even though it should?

[2021-11-25 12:10] ben1mit commented on #170
I'm a bit uncertain what you mean by "no path found message", but I hope the picture below illustrates the problem well
<img width="1397" alt="Skjermbilde 2021-11-25 kl  13 09 22" src="https://user-images.githubusercontent.com/48367359/143439225-b727487a-133a-44ce-a13b-705161f9fa1f.png">

[2021-11-25 12:11] SkepticMystic commented on #170
That does help, thank you!

[2021-11-25 12:12] SkepticMystic commented on #170
Do you mind sending me the results of `app.plugin.plugins.breadcrumbs.settings`

[2021-11-25 12:15] ben1mit commented on #170
where do I find that?

[2021-11-25 12:16] SkepticMystic commented on #170
So open the console, then copy paste that cmd into the bottom line where you can enter code, `Enter` to run it, then just copy paste the result here

[2021-11-25 12:18] ben1mit commented on #170
I get this:
<img width="615" alt="Skjermbilde 2021-11-25 kl  13 17 12" src="https://user-images.githubusercontent.com/48367359/143440300-a9f44a46-ad5d-41be-a7e1-64b9e1371a16.png">
however if I go into breadcrumbs menu and ask it to console log the settings I get  the following:
CSVPaths: ""
HNUpField: ""
aliasesInIndex: false
alphaSortAsc: true
altLinkFields: []
debugMode: "TRACE"
defaultView: tru

[2021-11-25 12:19] SkepticMystic commented on #170
Oh sorry, I made a typo. But yes, this is exactly what I need, thanks :)

[2021-11-25 12:23] SkepticMystic commented on #170
@ben1mit it isn't showing trails because you have an index note set to `"Book index"`.
If you have an index not set, then the trail only show paths going up to that index note. There are two solutions here:

1. Remove the index note to always show all paths
2. Toggle the setting `showAllPathsIfNoneToIndexNote` to `true`, to show all paths if none to the index note are found

[2021-11-25 12:24] ben1mit commented on #170
Removed the index note, and that did not help. However suggestion 2 did help, thanks

[2021-11-25 12:24] #170 closed

[2021-11-25 12:44] SkepticMystic commented on #170
Unfortunately, I can't reproduce the behaviour you experienced... I'm glad the workaround resolves it though

[2021-11-25 12:57] ben1mit opened #171 "More space around trail view"
This is a relatively minor aestethic thing, and could propably be solved on the user end by some custom css, but it would be nice with some more air around the breadcrumbs trail. As you see from the picture it is pretty mashed into the yaml preview and the title of the note, so adding a few pixels of spacing around the trail might be very nice.

<img width="696" alt="Skjermbilde 2021-11-25 kl  13

[2021-11-25 13:39] SkepticMystic commented on #171
Sure, I agree it could use a bit more space. I've added a little bit of a gap, but you can add more with:
[code]

[2021-11-25 13:59] ben1mit commented on #171
I am unfamiliar with using css snippets in obsidian.
I tried saving a file containing the code you pasted above, named "breadcrumb_air.css" within the folder vault/.obsidian/snippets
however it does not show up under snippets when i try to reload them from within the settings menu.
Am I doing it wrong, or should it work?

[2021-11-26 07:07] sudotachy commented on #147
Thank you!

[2021-11-26 09:22] minkkinen opened #172 "Index refresh fails when BC-link-note has a non-existing link type"
I noticed that the index fails to refresh when a note has the metadata field BC-link-note with a non-existing link type. This happened because I changed the name of the downward direction for one of the hierarchies. It just says "Breadcrums graph is not initialized yet. Please Refresh index.". Everything works again when I update the BC-link-note field to the new name.

[2021-11-28 08:09] SkepticMystic opened #173 "Bug: link-notes and presumably traverse-notes don't handle embedded links well"
[code]

![image](https://user-images.githubusercontent.com/70717676/143734772-db034eae-cee0-4c20-992d-b118a2dc1e59.png)

[2021-11-28 13:28] HananoshikaYomaru commented on #138
Sure, all my hierarchy notes is in the `hierarchy` folder.

And I have the following `dataviewjs` script

`dv.paragraph(dv.pages('"hierarchy"').file.name.map (name => "[[hierarchy/" + name + "]]").join(", "))`

This line will generate a string that I can directly copy and paste into the hierarchy note field.

[2021-11-28 18:58] retospect opened #174 "Update links when filenames change"
If I have

[parent.md]
something

[child.md]
up: [ [[parent]] ]

and then rename parent.md to foo.md, the child's reference is not automatically updated and the breadcrum tree is broken.

Part of the value of Obsidian is to be able to rename things and retain link integrity, it would be awesome if the references would also be updated on rename.

[2021-11-29 06:31] SkepticMystic commented on #81
@veradrawer @hieu6 @HEmile I haven't implemented option 2 yet, but option 1 is working in the version I'm gonna release soon

[2021-11-29 06:37] #167 closed

[2021-11-29 07:07] SkepticMystic commented on #171
That _should_ work, yeah... I'm not sure what the issue is there

[2021-11-29 07:10] SkepticMystic commented on #174
I get you.
This happens because Obsidian doesn't see `up: [ [[parent]] ]` as an actual link.
Theoretically, I could add support for your request. However, there are so many different syntaxes that Breadcrumbs recognises that making this feature would be a plugin in itself.
My recommendation for now is:
1. Use Dataview inline fields: https://github.com/blacksmithgu/obsidian-dataview#data
2. Use thi

[2021-11-29 11:23] chrisgrieser opened #176 "FR: Add Trail View to Sidebar"
On top of the Matrix and/or List view would be useful when you have scrolled down a document and therefore cannot see the trail anymore.

[2021-11-29 15:02] gudstrand opened #177 "Turn off index refreshed message"
I am edting a bunch of notes and adding hierarchies for breadcrumbs. The "index refreshed" message keeps flashing on the screen with every change, is there a way to turn off informational messages?

[2021-11-29 15:18] zhao414 opened #178 "not compatible with Obsidian build-in aliases feature"
I'm using YAML to create the relationship.

Note A.md looks like the following
[code]

Then in note B, when I'm creating a relationship in a note B, with help of the add internal link command to look up the A.md, I can type "A" to get a internal link as :
[code]
So the YAML will be
[code]
And in this case, BC works fine.

However, Obsidian also allows me to type "note-A" to get a internal link as:

[2021-11-29 15:38] SkepticMystic commented on #178
Huh, this definitely used to work. The bug must have been introduced in a new release. I'll see what I can do

[2021-11-29 15:41] SkepticMystic commented on #177
Sure thing, it's been added and will be available in the next release :)

[2021-11-29 15:41] #177 closed

[2021-11-29 16:24] gudstrand commented on #177
Wow! Thank you, that was so fast!  :-)

[2021-11-29 19:07] JepheDelPhuego opened #180 "Not Working on Mobile"
Will not work on mobile. No error messages, just shows up blank.

[2021-11-29 19:34] SkepticMystic commented on #180
![](https://media.discordapp.net/attachments/707816848615407697/914961786288082944/3D8BB889-0AF1-45EE-ABD4-B393070C212A.png?width=325&height=702)

![](https://media.discordapp.net/attachments/707816848615407697/914961786489425960/1415E6A4-5DA0-4E53-A632-AA537886612D.png?width=325&height=702)

[2021-11-30 06:45] SkepticMystic commented on #173
Fixed

[2021-11-30 06:45] #173 closed

[2021-11-30 06:46] #174 closed

[2021-11-30 06:51] SkepticMystic commented on #67
@FTWynn @brimwats I think this FR is now possible in 2.1.0 :D
Using the new Down View, you can see an auto-updating index of all notes going down the child tree from the current note.
Press the `Freeze` button to stop it from changing

[2021-11-30 06:55] SkepticMystic commented on #178
This should be fixed in 2.1.0 :)

[2021-11-30 06:55] #178 closed

[2021-11-30 09:13] SkepticMystic commented on #172
I can't recreate this behaviour. It's possible the breaking change to 2.0.0 yesterday has resolved this issue

[2021-11-30 09:21] minkkinen commented on #172
Yeah, that's likely. I also realized after opening this issue that it looked like I had messed up my hierarchies somehow more generally. I reset all of my hierarchies and it worked again. The recent update probably changed the behavior so this issue might not be relevant.

[2021-11-30 10:41] chrisgrieser opened #181 "BUG: Wrong CSS Class Assignment in Matrix View"
Probably I was able to notice it quicker due to my custom CSS of Breadcrumbs; I noticed that the last update seems to have introduced a bug the Breadcrumb CSS.

The first square separates puts the h4 and h6 into one div, the second square puts them into two different divs. The result is that any custom styling done by themes isn't applied consistently anymore, leading in my theme to this visual bu

[2021-11-30 10:43] chrisgrieser opened #182 "Bug: Refresh Breadcrumbs Index on load"
I noticed that after restarting Obsidian, I have to reload the Breadcrumb Index. I assume this is a bug, since refreshing the index on load was probably a feature?

<img width="448" alt="Screenshot 2021-11-30 11 41 39" src="https://user-images.githubusercontent.com/73286100/144032773-7d95c5ac-fae4-4224-83d3-9b7251ce0605.png">

[2021-11-30 10:51] chrisgrieser commented on #160
could you add some documentation for `BC-traverse-note` to the wiki? It seems to be part of the public Breadcrumbs release, but isn't listed in the alternative structure yet.

As far as I can tell, there aren't any serious bugs anymore, and I'd like to dive into it, but I am not sure what exactly I can configure right now :)

[2021-11-30 10:53] chrisgrieser opened #183 "FR: CSS Class for empty state of views"
similar to Vanilla Obsidian, it would be useful if breadcrumbs applied a separate CSS class for "empty" views (nothing to display in the sidebar, or `This note has no real or implied parents` in the trail view.)

This would enable theme designers like me to apply separate styling for those cases. :)

[2021-11-30 11:52] elias-sundqvist opened #184 "Organize notes in one hierarchy by the structure of another."
Hi,

I'd like the ability to specify one hierarchy for getting the children/parents/siblings, but display them using a separate hierarchy from a specified root node.

For example, I might have a "context" hierarchy, where I have a concept in the context of a lecture, a lecture in the context of a course, a course in the context of a...

I may at the same time have a hierarchy of types. (a course i

[2021-11-30 12:40] chrisgrieser opened #185 "[BUG]: Giant Hook in Down view"
Not exactly sure what is going on here, but a giant hook icon appears in the down view panel?! (I switched to default theme at it still occurs)

<img width="585" alt="Screenshot 2021-11-30 13 39 40" src="https://user-images.githubusercontent.com/73286100/144049001-38cb4d88-eeed-42f4-87e1-a128f849ba31.png">

[2021-11-30 12:42] chrisgrieser opened #186 "Bug: Closed Sidebar tabs re-appear after restart"
Similar to the issue that occurred with Advanced Cursors, closed sidebar tabs (e.g. I close the Stats View since I don't need it) reappear after restarting Obsidian.

[2021-11-30 13:05] chrisgrieser opened #187 "[BUG]: Traverse-notes don't capture all links"
Using the `BC-traverse-note` as hierarchy, it seems Kanban boards are not supported?

<img width="1256" alt="Screenshot 2021-11-30 14 03 02" src="https://user-images.githubusercontent.com/73286100/144052446-3ba82828-48cd-41b7-8639-aae64726055e.png">

[2021-11-30 14:03] SkepticMystic commented on #172
Cool cool, thanks for checking :)

[2021-11-30 14:03] #172 closed

[2021-11-30 14:18] SkepticMystic commented on #182
The index does try to refresh on start, yes.
This bug has been here since the start. It's because BC tries to load before Dataview is finished indexing. I've tried soooo many different ways around this. Even the official dataview API's event for when the index is ready. But nothing. I keep trying every now and then, but it's a pesky one

[2021-11-30 14:19] chrisgrieser commented on #182
Oh, I didn't know. Does this only occur due to dataview, like is there a dataview setting one can change to avoid this?

[2021-11-30 14:20] SkepticMystic commented on #185
Hahahaha this must have been quite startling.
It happens because Graph Analysis uses the same styling for icons. So when I forgot to add the styles in BC, I still saw the correct size icon because GA was installed.
This is fixed in the latest release

[2021-11-30 14:20] #185 closed

[2021-11-30 14:24] SkepticMystic commented on #186
This should be fixed in the latest release as of now.
There are now settings to choose which views get opened onload

[2021-11-30 14:24] #186 closed

[2021-11-30 14:25] SkepticMystic commented on #183
Oh good idea!
I'm gonna make it `div.BC-empty-view`

[2021-11-30 14:35] HEmile commented on #182
I'm also getting this bug, but I don't have DV installed.

[2021-11-30 14:38] SkepticMystic commented on #183
Added in 2.3.0

[2021-11-30 14:38] #183 closed

[2021-11-30 14:39] SkepticMystic commented on #187
Can you send the md content of the kanban note.
There are some edge cases with kanbans, but it shouldn't affect this

[2021-11-30 14:39] SkepticMystic commented on #182
I think the same thing happens waiting for the Obsidian metadataCache

[2021-11-30 14:40] chrisgrieser opened #188 "[BUG]: Wrapping for Down View missing"
The down view is missing some wrapping and for some reason I not really understand, the "usual suspects" for solving this via CSS (`white-space`) does not work either. I think it's due to the horizontal scrollability or something? 🤔

Anyway, It'd great if the content was visible without scrolling :)

<img width="362" alt="Screenshot 2021-11-30 15 38 20" src="https://user-images.githubusercontent.c